.contentColumn_c25c6d>div>.children_a6ae9b>div>.divider_f0a9ff {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.progressBarImage_f0a9ff {
    border: var(--background-primary-border);
    border-radius: 10px;
}

.avatarUploaderInnerSquare_e9b3be {
    border-radius: 8px;
    border: var(--background-primary-border);
}

.guildFeatureAvailabilityIndicator_f0a9ff {
    background-color: var(--background-secondary);
    box-shadow: var(--background-secondary-box-shadow-border);
}

.avatarUploaderInnerSquareDisabled_e9b3be {
    background-color: var(--background-primary);
}

.container_cc7b67 {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

.container_cc7b67:hover {
    background-color: var(--background-primary);
    color: var(--interactive-hover);
}

/* .rolesTable_e72811 {
    background-color: var(--background-secondary);
    border-top: var(--background-secondary-border);
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tableHeader_e72811 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -8px;
    padding: 8px;
}

.roleRow_a930f1:nth-child(even) {
    background: var(--background-secondary);
}

.roleRow_a930f1:nth-child(odd) {
    background: var(--background-primary);
} */

#app-mount .roleRow_a930f1:hover {
    background: var(--brand-experiment);
}

.roleRow_a930f1:hover .text-md-normal__6a4eb {
    color: #fff !important;
}

.roleRow_a930f1:hover .memberCountContainer_a930f1 {
    color: #fff
}

/* #app-mount .memberSpacing_e72811 {
    flex: 0 0 50px;
}

.roleNameSpacing_e72811 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 273px;
    flex: 0 1 350px;
}

.roleRow_a930f1:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.emptyRoles_a930f1,
.roleRow_a930f1 {
    padding-top: 1px;
    height: 42px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 8px;
}

.roleRow_a930f1 {
    position: relative;
    border-radius: 0;
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

.roleRow_a930f1:before,
.roleRow_a930f1:last-child:after {
    display: none;
}

.circleButton_a930f1.size36_e39500 {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
} */

.titleContainer_e87574 {
    background-color: transparent;
}

.side_a0 .themed_a0.selected_a0.item_a0 .colorHeaderPrimary_fbc755 {
    color: #fff;
}

.header_bd05f1 {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
}

.header_bd05f1.stickyHeader_bd05f1 {
    position: relative;
}

.tabBar_c69589 {
    display: flex;
    margin: 0 auto;
    border: var(--background-secondary-border);
    border-radius: 8px;
    background: var(--background-secondary);
    width: fit-content;
}

.top-K_jibn .item_a0 {
    border-radius: 6px;
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid transparent;
}

.top-K_jibn .brand_a0.selected_a0.item_a0 {
    background-color: var(--button-selected-background);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: transparent;
    box-shadow: var(--btn-outer-shadow);
}

.top-K_jibn .brand_a0.item_a0:hover,
.top-K_jibn .brand_a0.item_a0:active {
    border-bottom-color: transparent;
}

.top-K_jibn .brand_a0:not(.selected_a0).item_a0:hover {
    background-color: var(--background-modifier-hover);
}

.top-K_jibn .brand_a0:not(.selected_a0).item_a0:active {
    background-color: var(--background-modifier-active);
}

.permissionsWrapper_a73849>.permissionsForm_a73849 {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
    height: 55px;
    overflow: hidden;
}

.permissionsWrapper_a73849>.permissionsForm_a73849:hover {
    height: 100%;
}

.permissionsWrapper_a73849>.clearButtonWrapper_a73849 {
    position: relative;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.permissionsForm_a73849+.permissionsForm_a73849 {
    margin-top: 20px;
}

.warning_f20685 {
    border-radius: 8px;
    margin-bottom: 20px;
}

.headerContainer_fe3229 {
    position: relative;
}

.content_eed6a8>.contentWidth_bd05f1:nth-child(even)>.memberRow_fe3229 {
    background: var(--background-secondary);
}

.content_eed6a8>.contentWidth_bd05f1:nth-child(odd)>.memberRow_fe3229 {
    background: var(--background-primary);
}

.content_eed6a8>div:not([class])+.contentWidth_bd05f1>.memberRow_fe3229 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: var(--background-secondary-border);
}

.content_eed6a8>.contentWidth_bd05f1:last-child>.memberRow_fe3229 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

#app-mount .memberRow_fe3229:hover {
    background: var(--brand-experiment);
}

.memberRow_fe3229 {
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

.roleRow_a930f1:hover .text-md-normal__6a4eb {
    color: #fff !important;
}

.roleRow_a930f1:hover .memberCountContainer_a930f1 {
    color: #fff
}

.memberRow_fe3229 {
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
    cursor: pointer;
}

.notice-2olXi7 {
    background-color: var(--brand-experiment-600);
    color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    height: 40px;
    padding: 0 8px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.container-3ssFyj {
    margin-top: 0;
    background-color: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.container-3ssFyj .container__33507.medium__5b9a9 {
    margin: 4px;
}

.children_a6ae9b>div>.content_dc1809 {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 0 20px 0 20px;
    overflow: hidden;
}

.emojiRow_dc1809 .emojiRemove_dc1809 {
    position: absolute;
    top: unset;
    right: 0;
    opacity: 0;
}

.emojiTable_dc1809 {
    margin-bottom: 0;
    padding: 8px 8px 8px 0;
}

.content_dc1809>.emojiRow_dc1809:last-child {
    box-shadow: none;
}

.content_dc1809>.emojiRow_dc1809:nth-child(even):before {
    background: var(--background-primary);
    opacity: 1;
    border-radius: 0;
}

.emojiRow_dc1809 {
    height: 42px;
}

.tier_da77bd {
    border: var(--background-primary-border);
    border-radius: 8px;
    overflow: hidden;
    max-width: calc(100% - 32px);
}

#app-mount .tierHeader_da77bd,
#app-mount .tierBody_da77bd {
    border-radius: unset;
    background: var(--background-primary);
}

.tier_da77bd .grid_f8c5e7 {
    margin-bottom: 20px;
}

.tier_da77bd .placeholderCard_f8c5e7 {
    background-color: var(--background-floating);
}

#app-mount .background_a4fd01 {
    color: var(--background-tertiary);
}

#app-mount .tierInProgress_a4fd01 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

#app-mount .auditLog_eebd33 {
    border-radius: 8px;
    border: var(--background-secondary-border);
    overflow: hidden;
}

#app-mount .auditLog_eebd33 .headerClickable_eebd33,
#app-mount .auditLog_eebd33 .headerDefault_eebd33 {
    background-color: var(--background-secondary);
    color: var(--interactive-normal);
}

#app-mount .auditLog_eebd33 .headerExpanded_eebd33 {
    background-color: var(--background-secondary);
    color: var(--interactive-normal);
}

#app-mount .auditLog_eebd33 .changeDetails_eebd33 {
    background-color: var(--background-primary);
}

.auditLog_eebd33 .text-sm-medium_bc6ffc,
.auditLog_eebd33 .text-sm-normal__95a78 {
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 18px;
}

#app-mount .card_ea2a21,
#app-mount .card_adb740 {
    border-color: var(--background-modifier-accent);
}

.descriptionBox_c38f8d {
    border: var(--background-primary-border);
}

.featureCard_b1a8d5 {
    border: var(--background-primary-border);
}

#guild_premium-tab.contentColumn_c25c6d .content_da77bd {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
    margin-bottom: 20px;
}

#guild_templates-tab.contentColumn_c25c6d>.marginBottom4_f7730b>.divider_ae36e5,
#guild_premium-tab.contentColumn_c25c6d>.divider_f1f3b4 {
    display: none;
}

#guild_templates-tab.contentColumn_c25c6d>.marginBottom4_f7730b>.descriptionBox_c38f8d {
    margin-bottom: 20px;
}

/* .member-2cj2PI:nth-child(odd) {
    background: var(--background-secondary);
}

.member-2cj2PI:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.member-2cj2PI:nth-child(even) {
    background: var(--background-primary);
}

.member-2cj2PI {
    gap: 12px;
    padding: 6px;
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

#app-mount .member-2cj2PI {
    -webkit-box-shadow: none;
    box-shadow: none;
} */

.contentRegion_c25c6d .content_eed6a8>div:not([class])+.member-2cj2PI {
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: var(--background-secondary-border);
}

.contentRegion_c25c6d .content_eed6a8>div>.divider_ae36e5 {
    display: none;
}

#app-mount .inviteSettingsInviteRow-1rZeIM {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contentRegion_c25c6d .content_eed6a8>.headerSection-2X_FUZ {
    padding-bottom: 0;
}

.contentRegion_c25c6d .content_eed6a8>.headerSection-2X_FUZ>.flex_bba380:last-child {
    background-color: var(--background-secondary);
    border-top: var(--background-secondary-border);
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px 16px;
}

.inviteSettingsInviteRow-1rZeIM {
    font-size: 14px;
    padding: 0 16px;
    background-color: var(--background-primary);
    border-left: var(--background-primary-border);
    border-right: var(--background-primary-border);
}

.inviteSettingsInviteRow-1rZeIM:nth-child(even) {
    background: var(--background-secondary);
}

.inviteSettingsInviteRow-1rZeIM:nth-child(odd) {
    background: var(--background-primary);
}

.inviteSettingsInviteRow-1rZeIM:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.option_f6639d[aria-selected=true]:not(.option_f6639d.multi-1HXDiv) .defaultColor-24IHKz {
    color: #fff;
}

.sidebarScrollable_e9196a .scroller_e9196a {
    background-color: transparent;
}

.settingCard-xZSDjS {
    border: var(--background-secondary-border);
}

.settingCard-xZSDjS.active-3EK-ed {
    background: var(--background-secondary);
}

.settingCard-xZSDjS.active-3EK-ed .cardContent-1-5hym {
    border-bottom: var(--background-secondary-border);
}

.content_e9196a.layoutStyle-3d1mjU>.permissionsForm-35gjPz {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
    margin-bottom: 20px;
}

.content_e9196a.layoutStyle-3d1mjU>.permissionsForm-35gjPz>.flex_bba380.marginBottom20_f7730b:last-child {
    margin-bottom: 0;
}

.content_e9196a.layoutStyle-3d1mjU>.permissionsForm-35gjPz>.flex_bba380:last-child>.divider_ae36e5:last-child {
    display: none;
}

/* 12.1. Automod */
#app-mount .saveNoticeContainer_d5bf6c,
#app-mount .saveNoticeContainer_d5bf6c~.endSpacer_a7a160 {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.actionContainer_cec7a5 {
    border-radius: 6px;
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.triggerMainContainer_df95ff {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.mentionLimitContainer_fa2661,
.actionContainer_b6e944 {
    background-color: transparent;
}

.stepCountIcon_df95ff {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}
