.contentColumn__5f80b>div>.children_aba8cb>div>.divider__90677 {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.progressBarImage__54e3f {
    border: var(--background-primary-border);
    border-radius: 10px;
}

.avatarUploaderInnerSquare__317f2 {
    border-radius: 8px;
    border: var(--background-primary-border);
}

.guildFeatureAvailabilityIndicator__21431 {
    background-color: var(--background-secondary);
    box-shadow: var(--background-secondary-box-shadow-border);
}

.avatarUploaderInnerSquareDisabled__2abd0 {
    background-color: var(--background-primary);
}

.container__9c57c {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

.container__9c57c:hover {
    background-color: var(--background-primary);
    color: var(--interactive-hover);
}

/* .rolesTable_a04f49 {
    background-color: var(--background-secondary);
    border-top: var(--background-secondary-border);
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tableHeader_f2fd5d {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -8px;
    padding: 8px;
}

.roleRow_dc2631:nth-child(even) {
    background: var(--background-secondary);
}

.roleRow_dc2631:nth-child(odd) {
    background: var(--background-primary);
} */

#app-mount .roleRow_dc2631:hover {
    background: var(--brand-experiment);
}

.roleRow_dc2631:hover .text-md-normal__6a4eb {
    color: #fff !important;
}

.roleRow_dc2631:hover .memberCountContainer_b93514 {
    color: #fff
}

/* #app-mount .memberSpacing_b7cc5d {
    flex: 0 0 50px;
}

.roleNameSpacing__79a48 {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 273px;
    flex: 0 1 350px;
}

.roleRow_dc2631:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.emptyRoles_a192bd,
.roleRow_dc2631 {
    padding-top: 1px;
    height: 42px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 8px;
}

.roleRow_dc2631 {
    position: relative;
    border-radius: 0;
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

.roleRow_dc2631:before,
.roleRow_dc2631:last-child:after {
    display: none;
}

.circleButton_c3a5df.size36_e39500 {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
} */

.titleContainer_d09261 {
    background-color: transparent;
}

.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda .colorHeaderPrimary_b60093 {
    color: #fff;
}

.header_ee0bd9 {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
}

.header_ee0bd9.stickyHeader_a471c2 {
    position: relative;
}

.tabBar_a013ee {
    display: flex;
    margin: 0 auto;
    border: var(--background-secondary-border);
    border-radius: 8px;
    background: var(--background-secondary);
    width: fit-content;
}

.top-K_jibn .item__48dda {
    border-radius: 6px;
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid transparent;
}

.top-K_jibn .brand_ce3ecf.selected_a523ff.item__48dda {
    background-color: var(--button-selected-background);
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: transparent;
    box-shadow: var(--btn-outer-shadow);
}

.top-K_jibn .brand_ce3ecf.item__48dda:hover,
.top-K_jibn .brand_ce3ecf.item__48dda:active {
    border-bottom-color: transparent;
}

.top-K_jibn .brand_ce3ecf:not(.selected_a523ff).item__48dda:hover {
    background-color: var(--background-modifier-hover);
}

.top-K_jibn .brand_ce3ecf:not(.selected_a523ff).item__48dda:active {
    background-color: var(--background-modifier-active);
}

.permissionsWrapper__7b073>.permissionsForm__8552b {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
    height: 55px;
    overflow: hidden;
}

.permissionsWrapper__7b073>.permissionsForm__8552b:hover {
    height: 100%;
}

.permissionsWrapper__7b073>.clearButtonWrapper__5b951 {
    position: relative;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.permissionsForm__8552b+.permissionsForm__8552b {
    margin-top: 20px;
}

.warning__4da7a {
    border-radius: 8px;
    margin-bottom: 20px;
}

.headerContainer__282e2 {
    position: relative;
}

.content__690c5>.contentWidth_f1e6d4:nth-child(even)>.memberRow_d581f4 {
    background: var(--background-secondary);
}

.content__690c5>.contentWidth_f1e6d4:nth-child(odd)>.memberRow_d581f4 {
    background: var(--background-primary);
}

.content__690c5>div:not([class])+.contentWidth_f1e6d4>.memberRow_d581f4 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: var(--background-secondary-border);
}

.content__690c5>.contentWidth_f1e6d4:last-child>.memberRow_d581f4 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

#app-mount .memberRow_d581f4:hover {
    background: var(--brand-experiment);
}

.memberRow_d581f4 {
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

.roleRow_dc2631:hover .text-md-normal__6a4eb {
    color: #fff !important;
}

.roleRow_dc2631:hover .memberCountContainer_b93514 {
    color: #fff
}

.memberRow_d581f4 {
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
    cursor: pointer;
}

.notice-2olXi7 {
    background-color: var(--brand-experiment-600);
    color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    height: 40px;
    padding: 0 8px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.container-3ssFyj {
    margin-top: 0;
    background-color: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.container-3ssFyj .container__33507.medium__5b9a9 {
    margin: 4px;
}

.children_aba8cb>div>.content__90c48 {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 0 20px 0 20px;
    overflow: hidden;
}

.emojiRow_db53d4 .emojiRemove__744eb {
    position: absolute;
    top: unset;
    right: 0;
    opacity: 0;
}

.emojiTable__6262c {
    margin-bottom: 0;
    padding: 8px 8px 8px 0;
}

.content__90c48>.emojiRow_db53d4:last-child {
    box-shadow: none;
}

.content__90c48>.emojiRow_db53d4:nth-child(even):before {
    background: var(--background-primary);
    opacity: 1;
    border-radius: 0;
}

.emojiRow_db53d4 {
    height: 42px;
}

.tier_d16770 {
    border: var(--background-primary-border);
    border-radius: 8px;
    overflow: hidden;
    max-width: calc(100% - 32px);
}

#app-mount .tierHeader_a0ef30,
#app-mount .tierBody_fd5f94 {
    border-radius: unset;
    background: var(--background-primary);
}

.tier_d16770 .grid_d33a08 {
    margin-bottom: 20px;
}

.tier_d16770 .placeholderCard__393a9 {
    background-color: var(--background-floating);
}

#app-mount .background__092a0 {
    color: var(--background-tertiary);
}

#app-mount .tierInProgress__549bc {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

#app-mount .auditLog__9228d {
    border-radius: 8px;
    border: var(--background-secondary-border);
    overflow: hidden;
}

#app-mount .auditLog__9228d .headerClickable__334f7,
#app-mount .auditLog__9228d .headerDefault__31bb1 {
    background-color: var(--background-secondary);
    color: var(--interactive-normal);
}

#app-mount .auditLog__9228d .headerExpanded__05a35 {
    background-color: var(--background-secondary);
    color: var(--interactive-normal);
}

#app-mount .auditLog__9228d .changeDetails_c0aa16 {
    background-color: var(--background-primary);
}

.auditLog__9228d .text-sm-medium_bc6ffc,
.auditLog__9228d .text-sm-normal__95a78 {
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 18px;
}

#app-mount .card_fd0d59,
#app-mount .card__05cf8 {
    border-color: var(--background-modifier-accent);
}

.descriptionBox_bdb07b {
    border: var(--background-primary-border);
}

.featureCard__769f1 {
    border: var(--background-primary-border);
}

#guild_premium-tab.contentColumn__5f80b .content__6b3bc {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
    margin-bottom: 20px;
}

#guild_templates-tab.contentColumn__5f80b>.marginBottom4__73022>.divider_d6f39c,
#guild_premium-tab.contentColumn__5f80b>.divider__58638 {
    display: none;
}

#guild_templates-tab.contentColumn__5f80b>.marginBottom4__73022>.descriptionBox_bdb07b {
    margin-bottom: 20px;
}

/* .member-2cj2PI:nth-child(odd) {
    background: var(--background-secondary);
}

.member-2cj2PI:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.member-2cj2PI:nth-child(even) {
    background: var(--background-primary);
}

.member-2cj2PI {
    gap: 12px;
    padding: 6px;
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
}

#app-mount .member-2cj2PI {
    -webkit-box-shadow: none;
    box-shadow: none;
} */

.contentRegion__08eba .content__690c5>div:not([class])+.member-2cj2PI {
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: var(--background-secondary-border);
}

.contentRegion__08eba .content__690c5>div>.divider_d6f39c {
    display: none;
}

#app-mount .inviteSettingsInviteRow-1rZeIM {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contentRegion__08eba .content__690c5>.headerSection-2X_FUZ {
    padding-bottom: 0;
}

.contentRegion__08eba .content__690c5>.headerSection-2X_FUZ>.flex_f18b02:last-child {
    background-color: var(--background-secondary);
    border-top: var(--background-secondary-border);
    border-left: var(--background-secondary-border);
    border-right: var(--background-secondary-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px 16px;
}

.inviteSettingsInviteRow-1rZeIM {
    font-size: 14px;
    padding: 0 16px;
    background-color: var(--background-primary);
    border-left: var(--background-primary-border);
    border-right: var(--background-primary-border);
}

.inviteSettingsInviteRow-1rZeIM:nth-child(even) {
    background: var(--background-secondary);
}

.inviteSettingsInviteRow-1rZeIM:nth-child(odd) {
    background: var(--background-primary);
}

.inviteSettingsInviteRow-1rZeIM:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border);
}

.option_eb83e4[aria-selected=true]:not(.option_eb83e4.multi-1HXDiv) .defaultColor-24IHKz {
    color: #fff;
}

.sidebarScrollable_d64933 .scroller_c92337 {
    background-color: transparent;
}

.settingCard-xZSDjS {
    border: var(--background-secondary-border);
}

.settingCard-xZSDjS.active-3EK-ed {
    background: var(--background-secondary);
}

.settingCard-xZSDjS.active-3EK-ed .cardContent-1-5hym {
    border-bottom: var(--background-secondary-border);
}

.content__5eeb2.layoutStyle-3d1mjU>.permissionsForm-35gjPz {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
    margin-bottom: 20px;
}

.content__5eeb2.layoutStyle-3d1mjU>.permissionsForm-35gjPz>.flex_f18b02.marginBottom20__9fcf3:last-child {
    margin-bottom: 0;
}

.content__5eeb2.layoutStyle-3d1mjU>.permissionsForm-35gjPz>.flex_f18b02:last-child>.divider_d6f39c:last-child {
    display: none;
}

/* 12.1. Automod */
#app-mount .saveNoticeContainer__67513,
#app-mount .saveNoticeContainer__67513~.endSpacer__4fa87 {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.actionContainer__4263f {
    border-radius: 6px;
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.triggerMainContainer_ca82f6 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.mentionLimitContainer_bb7659,
.actionContainer_e638f2 {
    background-color: transparent;
}

.stepCountIcon__0dbc7 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}
