.appAvatar__1fa87 {
    border-radius: 8px;
}

.card-16VQ8C {
    border-radius: 8px;
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-secondary-border);
}

.customizationSection__0f57e .bioTextArea_f46f71 {
    border-radius: 6px;
}

#appearance-tab.contentColumn__5f80b> :not([class]):first-child>.children_aba8cb>div:nth-child(2) [role="radiogroup"] {
    display: block;
}

.basicThemeSelectors__5ca8c {
    gap: 0;
    margin-bottom: 52px;
}

.basicThemeSelectors__5ca8c .themeSelectionContainer__26fcc {
    width: 134px;
    height: 88px;
    margin-right: 24px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-outer-3), var(--background-primary-box-shadow-border);
}

.defaultThemeSelection_f6b081 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.defaultThemeSelection_f6b081[aria-label]::after {
    content: attr(aria-label);
    position: absolute;
    bottom: -32px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--text-muted);
}

.defaultThemeSelection_f6b081.selected_de3345[aria-label]::after {
    font-weight: 600;
    color: var(--header-primary);
}

.basicThemeSelectors__5ca8c .lightIcon_b11aec {
    background: url("https://i.imgur.com/a6XFHrA.png") center/cover;
}

.basicThemeSelectors__5ca8c .darkIcon__6e4cd {
    background: url("https://i.imgur.com/r2e1gbZ.png") center/cover;
}

.basicThemeSelectors__5ca8c .themeSelectionContainer__26fcc:last-child .defaultThemeSelection_f6b081 {
    background: url("https://i.imgur.com/Ta8d8Ae.png") center/cover;
}

.defaultThemeSelection_f6b081.selected_de3345 {
    box-shadow: inset 0 0 0 1px var(--background-primary), var(--box-shadow-selection)
}

.themeSelectionContainer__26fcc .selectionCircle_aa3fcd,
.defaultThemeSelection_f6b081 .iconWrapper__660f6 {
    display: none;
}

.basicThemeSelectors__5ca8c .themeSelectionContainer__26fcc:last-child .defaultThemeSelection_f6b081[aria-label]::after {
    bottom: -48px;
}

#appearance-tab.contentColumn__5f80b> :not([class]):first-child>.children_aba8cb>div:nth-child(2) .container__7ad1e.marginTop20__7e0ad {
    margin-top: 50px;
}

#my-account-tab.contentColumn__5f80b>div:not([class])>div:not(:first-child:not([class])) {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

#my-account-tab.contentColumn__5f80b>div:not([class])>.divider_d6f39c {
    display: none;
}

#my-account-tab.contentColumn__5f80b>div:not([class])>div {
    margin-top: 0;
    margin-bottom: 20px;
}

#my-account-tab.contentColumn__5f80b>div:not([class])>div:not(:first-child:not([class])):empty {
    display: none;
}

.baseLayout-8AMrwn>div>.customizationSection__0f57e:last-child {
    margin-bottom: 0;
}

.connection__6dbd8 {
    background: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
}

.connection__6dbd8 {
    background: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
    padding: 16px;
}

.connectionHeader__2b82f {
    padding: 0;
    background: transparent;
    border-radius: unset;
}

.connectionList__5b340 {
    grid-gap: 8px;
}

.input_f27786 {
    border-radius: 6px;
    border: var(--background-secondary-border);
    background-color: var(--background-secondary);
}

.sessions__7b95a .session__201cb {
    gap: 12px;
}

.sessions__7b95a .sessionInfo_e3ad35 {
    gap: 0;
}

.sessions__7b95a .eyebrow_e5a66c.sessionInfoRow_a9ccc2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__7b95a .text-sm-medium_bc6ffc.sessionInfoRow_a9ccc2 {
    color: var(--channels-default);
}

.sessions__7b95a .sessionIcon_df2e9c {
    background: none;
    color: var(--interactive-normal);
}

.sessions__7b95a .session__201cb.currentSession__700d9 .sessionIcon_df2e9c {
    color: var(--status-positive);
}

.children_aba8cb>.session__201cb:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#library-inventory-tab.contentColumn__5f80b .children_aba8cb {
    margin-bottom: 30px;
}

#app-mount .paymentPane__541d7 {
    background-color: var(--background-secondary);
    color: var(--header-secondary);
    border-radius: 8px;
    border: var(--background-secondary-border);
}

#app-mount .payment_f27ac6 {
    background-color: var(--background-secondary);
}

#app-mount .bottomDivider_c85b47 {
    border-bottom-color: var(--background-modifier-accent);
}

#app-mount .paginator__28ba5 {
    background: var(--background-secondary);
    color: var(--header-secondary);
}

.cardWrapper_bc8d2a {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
}

.contentColumn__5f80b>div>.children_aba8cb>div:not(:first-child:not([class])) {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

.contentColumn__5f80b>div>.children_aba8cb>.marginTop20__7e0ad,
.children_aba8cb>.container__7ad1e.marginTop8__7da6c {
    margin-top: 0;
}

.contentColumn__5f80b>div>.children_aba8cb>div:first-child .marginBottom40_f4d1a4,
.container__7ad1e:last-child {
    margin-bottom: 0;
}

.contentColumn__5f80b>div>.children_aba8cb>div {
    margin-bottom: 20px;
}

.contentColumn__5f80b div:not([class]):empty,
.contentColumn__5f80b>.divider_d6f39c,
.divider-ogkn3u {
    display: none;
}

.children_aba8cb>.divider_d6f39c,
.container__7ad1e:last-child>.divider_d6f39c,
.contentColumn__5f80b>div>.children_aba8cb>.container__7ad1e>.divider_d6f39c,
.divider_d6f39c.marginTop40_bda863.marginBottom40_f4d1a4 {
    display: none;
}

#keybinds-tab.contentColumn__5f80b .defaultKeybindGroup_fe8d85>.divider_d6f39c:last-child {
    display: none;
}

#keybinds-tab.contentColumn__5f80b .defaultKeybindGroup_fe8d85 {
    margin: 0 0 20px 0;
}

#keybinds-tab.contentColumn__5f80b .keybindGroup_aa4e13 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#app-mount .keybindShortcut-3zF1P9 {
    color: var(--interactive-normal);
}

#app-mount .key-N5VmHN {
    border: var(--background-secondary-border);
    -webkit-box-shadow: inset 0 -4px 0 var(--background-tertiary);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.4);
}

.key-N5VmHN svg g {
    fill: var(--interactive-normal);
}

#app-mount .container-30qY7E {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 6px;
}

.theme-light .editIcon__570b4 {
    filter: invert(1);
}

.card_dc88cd.active_d55608:before,
.card_dc88cd:focus-within:before,
.card_dc88cd:hover:before {
    opacity: 0;
}

#app-mount #keybinds-tab.contentColumn__5f80b .row__7007e {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#app-mount #keybinds-tab.contentColumn__5f80b .row__7007e .marginBottom8_ce1fb9 {
    margin-bottom: 0;
}

.cameraWrapper-3a7Ngv {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
}

.backgroundOption__5ab0d.backgroundOptionSelected__6caed .backgroundOptionInner_a128bb {
    background-color: var(--background-primary);
    border-radius: 8px;
    box-shadow: var(--box-shadow-selection);

}

.backgroundOptionRing__45698 {
    display: none;
}

.backgroundOptions_b49a97>.backgroundOption__5ab0d.backgroundOptionSelected__6caed:first-child .backgroundOptionContent_ffff79 {
    color: var(--header-primary);
}

.progress_bcbb99 {
    background-color: var(--interactive-muted);
}

.theme-dark .notches__5406c.gray__211f0 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%, 16%)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.theme-light .notches__5406c.gray__211f0 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%, 94%)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#app-mount .marginTop40_bda863>.game__19f4b:last-child {
    box-shadow: none;
}

#app-mount .game__19f4b {
    -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
    box-shadow: 0 1px 0 0 var(--background-modifier-accent);
}

#game-activity-tab.contentColumn__5f80b .marginTop40_bda863,
#game-activity-tab.contentColumn__5f80b .marginTop8__7da6c {
    margin-top: 0;
}

.addGamePopout__61649.elevationBorderHigh__24051 {
    border-radius: 8px;
}

#app-mount .didRender-2SiRlm .addGamePopout__61649.elevationBorderHigh__24051 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.option__1d8de {
    border-radius: 7px;
    opacity: 1;
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.disabled__586d3 {
    opacity: 1;
    color: var(--background-primary);
}

.contentRegion__08eba :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn__5f80b>div>.children_aba8cb>div:not(:first-child:not([class])) {
    border-radius: 8px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.contentRegion__08eba :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn__5f80b>div>.children_aba8cb {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

.contentRegion__08eba :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn__5f80b>div>.children_aba8cb>.container__7ad1e>.divider_d6f39c {
    display: block;
}

#experiments-tab.contentColumn__5f80b>div>.children_aba8cb>div {
    margin-bottom: 0;
}

.contentRegion__08eba :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn__5f80b>div>.children_aba8cb {
    margin-bottom: 20px;
}

.contentRegion__08eba :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn__5f80b>div>.children_aba8cb>.container__7ad1e:last-child>.divider_d6f39c,
#experiments-tab.contentColumn__5f80b .children_aba8cb>.group_c2a6cb:last-child>.divider_d6f39c:last-child {
    display: none;
}

#payment-flow-modals-tab.contentColumn__5f80b .select_fe2671 .icons-2dXYop,
#payment-flow-modals-tab.contentColumn__5f80b .select_fe2671 {
    margin-left: 5px;
}

.membershipDialog_a0308e {
    border-radius: 8px;
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-2);
}
