.appAvatar_dc107b {
    border-radius: 8px;
}

.card-16VQ8C {
    border-radius: 8px;
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-secondary-border);
}

.customizationSection__16fec .bioTextArea_a108c9 {
    border-radius: 6px;
}

#appearance-tab.contentColumn_dc7d36> :not([class]):first-child>.children_b15c64>div:nth-child(2) [role="radiogroup"] {
    display: block;
}

.basicThemeSelectors_f6c054 {
    gap: 0;
    margin-bottom: 52px;
}

.basicThemeSelectors_f6c054 .themeSelectionContainer__575f5 {
    width: 134px;
    height: 88px;
    margin-right: 24px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-outer-3), var(--background-primary-box-shadow-border);
}

.defaultThemeSelection__5c688 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.defaultThemeSelection__5c688[aria-label]::after {
    content: attr(aria-label);
    position: absolute;
    bottom: -32px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--text-muted);
}

.defaultThemeSelection__5c688.selected_e5f907[aria-label]::after {
    font-weight: 600;
    color: var(--header-primary);
}

.basicThemeSelectors_f6c054 .lightIcon__08a51 {
    background: url("https://i.imgur.com/a6XFHrA.png") center/cover;
}

.basicThemeSelectors_f6c054 .darkIcon__1846a {
    background: url("https://i.imgur.com/r2e1gbZ.png") center/cover;
}

.basicThemeSelectors_f6c054 .themeSelectionContainer__575f5:last-child .defaultThemeSelection__5c688 {
    background: url("https://i.imgur.com/Ta8d8Ae.png") center/cover;
}

.defaultThemeSelection__5c688.selected_e5f907 {
    box-shadow: inset 0 0 0 1px var(--background-primary), var(--box-shadow-selection)
}

.themeSelectionContainer__575f5 .selectionCircle_f4288e,
.defaultThemeSelection__5c688 .iconWrapper__1fbd0 {
    display: none;
}

.basicThemeSelectors_f6c054 .themeSelectionContainer__575f5:last-child .defaultThemeSelection__5c688[aria-label]::after {
    bottom: -48px;
}

#appearance-tab.contentColumn_dc7d36> :not([class]):first-child>.children_b15c64>div:nth-child(2) .container_c52416.marginTop20_d88ee7 {
    margin-top: 50px;
}

#my-account-tab.contentColumn_dc7d36>div:not([class])>div:not(:first-child:not([class])) {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

#my-account-tab.contentColumn_dc7d36>div:not([class])>.divider__2bbbc {
    display: none;
}

#my-account-tab.contentColumn_dc7d36>div:not([class])>div {
    margin-top: 0;
    margin-bottom: 20px;
}

#my-account-tab.contentColumn_dc7d36>div:not([class])>div:not(:first-child:not([class])):empty {
    display: none;
}

.baseLayout-8AMrwn>div>.customizationSection__16fec:last-child {
    margin-bottom: 0;
}

.connection_fff5f6 {
    background: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
}

.connection_fff5f6 {
    background: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
    padding: 16px;
}

.connectionHeader__3c82d {
    padding: 0;
    background: transparent;
    border-radius: unset;
}

.connectionList__7b310 {
    grid-gap: 8px;
}

.input_d266e7 {
    border-radius: 6px;
    border: var(--background-secondary-border);
    background-color: var(--background-secondary);
}

.sessions__3ce76 .session_f56359 {
    gap: 12px;
}

.sessions__3ce76 .sessionInfo__9bc47 {
    gap: 0;
}

.sessions__3ce76 .eyebrow_e5a66c.sessionInfoRow_f3c7fd {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__3ce76 .text-sm-medium_bc6ffc.sessionInfoRow_f3c7fd {
    color: var(--channels-default);
}

.sessions__3ce76 .sessionIcon__540be {
    background: none;
    color: var(--interactive-normal);
}

.sessions__3ce76 .session_f56359.currentSession__5f5fd .sessionIcon__540be {
    color: var(--status-positive);
}

.children_b15c64>.session_f56359:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#library-inventory-tab.contentColumn_dc7d36 .children_b15c64 {
    margin-bottom: 30px;
}

#app-mount .paymentPane__9cf01 {
    background-color: var(--background-secondary);
    color: var(--header-secondary);
    border-radius: 8px;
    border: var(--background-secondary-border);
}

#app-mount .payment__7d702 {
    background-color: var(--background-secondary);
}

#app-mount .bottomDivider_a59d97 {
    border-bottom-color: var(--background-modifier-accent);
}

#app-mount .paginator_e620d3 {
    background: var(--background-secondary);
    color: var(--header-secondary);
}

.cardWrapper_bc8d2a {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
}

.contentColumn_dc7d36>div>.children_b15c64>div:not(:first-child:not([class])) {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

.contentColumn_dc7d36>div>.children_b15c64>.marginTop20_d88ee7,
.children_b15c64>.container_c52416.marginTop8__83d4b {
    margin-top: 0;
}

.contentColumn_dc7d36>div>.children_b15c64>div:first-child .marginBottom40__9109c,
.container_c52416:last-child {
    margin-bottom: 0;
}

.contentColumn_dc7d36>div>.children_b15c64>div {
    margin-bottom: 20px;
}

.contentColumn_dc7d36 div:not([class]):empty,
.contentColumn_dc7d36>.divider__2bbbc,
.divider-ogkn3u {
    display: none;
}

.children_b15c64>.divider__2bbbc,
.container_c52416:last-child>.divider__2bbbc,
.contentColumn_dc7d36>div>.children_b15c64>.container_c52416>.divider__2bbbc,
.divider__2bbbc.marginTop40__2b1fe.marginBottom40__9109c {
    display: none;
}

#keybinds-tab.contentColumn_dc7d36 .defaultKeybindGroup__1adfb>.divider__2bbbc:last-child {
    display: none;
}

#keybinds-tab.contentColumn_dc7d36 .defaultKeybindGroup__1adfb {
    margin: 0 0 20px 0;
}

#keybinds-tab.contentColumn_dc7d36 .keybindGroup__80beb {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#app-mount .keybindShortcut-3zF1P9 {
    color: var(--interactive-normal);
}

#app-mount .key-N5VmHN {
    border: var(--background-secondary-border);
    -webkit-box-shadow: inset 0 -4px 0 var(--background-tertiary);
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.4);
}

.key-N5VmHN svg g {
    fill: var(--interactive-normal);
}

#app-mount .container-30qY7E {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 6px;
}

.theme-light .editIcon__29477 {
    filter: invert(1);
}

.card_dc88cd.active_d55608:before,
.card_dc88cd:focus-within:before,
.card_dc88cd:hover:before {
    opacity: 0;
}

#app-mount #keybinds-tab.contentColumn_dc7d36 .row__7a44a {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#app-mount #keybinds-tab.contentColumn_dc7d36 .row__7a44a .marginBottom8_f4aae3 {
    margin-bottom: 0;
}

.cameraWrapper-3a7Ngv {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
}

.backgroundOption__745bb.backgroundOptionSelected_e40515 .backgroundOptionInner__1477f {
    background-color: var(--background-primary);
    border-radius: 8px;
    box-shadow: var(--box-shadow-selection);

}

.backgroundOptionRing__1f209 {
    display: none;
}

.backgroundOptions_e72ce2>.backgroundOption__745bb.backgroundOptionSelected_e40515:first-child .backgroundOptionContent__2608d {
    color: var(--header-primary);
}

.progress__2cc1d {
    background-color: var(--interactive-muted);
}

.theme-dark .notches__065e9.gray__4fb3f {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%, 16%)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.theme-light .notches__065e9.gray__4fb3f {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%, 94%)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#app-mount .marginTop40__2b1fe>.game__19f4b:last-child {
    box-shadow: none;
}

#app-mount .game__19f4b {
    -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
    box-shadow: 0 1px 0 0 var(--background-modifier-accent);
}

#game-activity-tab.contentColumn_dc7d36 .marginTop40__2b1fe,
#game-activity-tab.contentColumn_dc7d36 .marginTop8__83d4b {
    margin-top: 0;
}

.addGamePopout_e4ca8f.elevationBorderHigh_f9a758 {
    border-radius: 8px;
}

#app-mount .didRender-2SiRlm .addGamePopout_e4ca8f.elevationBorderHigh_f9a758 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.option_a0c054 {
    border-radius: 7px;
    opacity: 1;
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.disabled_ab18dc {
    opacity: 1;
    color: var(--background-primary);
}

.contentRegion__0bec1 :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn_dc7d36>div>.children_b15c64>div:not(:first-child:not([class])) {
    border-radius: 8px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.contentRegion__0bec1 :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn_dc7d36>div>.children_b15c64 {
    border-radius: 8px;
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    padding: 20px;
}

.contentRegion__0bec1 :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn_dc7d36>div>.children_b15c64>.container_c52416>.divider__2bbbc {
    display: block;
}

#experiments-tab.contentColumn_dc7d36>div>.children_b15c64>div {
    margin-bottom: 0;
}

.contentRegion__0bec1 :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn_dc7d36>div>.children_b15c64 {
    margin-bottom: 20px;
}

.contentRegion__0bec1 :where(#experiments-tab, #developer-options-tab, #hotspot-options-tab, #dismissible-content-options-tab, #payment-flow-modals-tab).contentColumn_dc7d36>div>.children_b15c64>.container_c52416:last-child>.divider__2bbbc,
#experiments-tab.contentColumn_dc7d36 .children_b15c64>.group_c2a6cb:last-child>.divider__2bbbc:last-child {
    display: none;
}

#payment-flow-modals-tab.contentColumn_dc7d36 .select__0eb48 .icons-2dXYop,
#payment-flow-modals-tab.contentColumn_dc7d36 .select__0eb48 {
    margin-left: 5px;
}

.membershipDialog-2wAdpQ {
    border-radius: 8px;
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-2);
}