.wordmarkWindows__05c46 {
    padding-top: 0;
}

.topic__16ae3 {
    flex-grow: 0;
}

#app-mount .withBackgroundOverride_b6a351.typeWindows__5fa63 {
    padding-top: 11px;
    background: none;
}

.guilds__2b93a:not(.content-Pph8t6),
.container__11d72,
.children__32014 .iconWrapper_af9215>svg {
    -webkit-app-region: drag;
}

.listItem_fa7b36>*,
.toolbar__88c63>*,
.platform-win .topicClickTarget_eeb305,
.cursorPointer__5116a.title__9e2b0,
.sidebarRegion__60457,
.closeButton__34341,
[class*="menu-"][role="menu"] {
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows__5fa63::before {
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    height: calc(var(--window-margin) * 1px);
    width: 100%;
    -webkit-app-region: drag;
}