.wordmarkWindows_a934d8 {
    padding-top: 0;
}

.topic_bf3bbb {
    flex-grow: 0;
}

#app-mount .withBackgroundOverride_a934d8.typeWindows_a934d8 {
    padding-top: 11px;
    background: none;
}

.guilds_a4d4d9:not(.content-Pph8t6),
.container_e44302,
.children_e44302 .iconWrapper_e44302>svg {
    -webkit-app-region: drag;
}

.listItem_c96c45>*,
.toolbar_e44302>*,
.platform-win .topicClickTarget_bf3bbb,
.cursorPointer_a7d72e.title_e44302,
.sidebarRegion_c25c6d,
.closeButton_df5532,
[class*="menu-"][role="menu"] {
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows_a934d8::before {
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    height: calc(var(--window-margin) * 1px);
    width: 100%;
    -webkit-app-region: drag;
}
