.wordmarkWindows_ffbc5e {
    padding-top: 0;
}

.topic__16ae3 {
    flex-grow: 0;
}

#app-mount .withBackgroundOverride_f510cb.typeWindows_e41dab {
    padding-top: 11px;
    background: none;
}

.guilds__2b93a:not(.content-Pph8t6),
.container__26baa,
.children_cde9af .iconWrapper_de6cd1>svg {
    -webkit-app-region: drag;
}

.listItem__48528>*,
.toolbar__62fb5>*,
.platform-win .topicClickTarget_f06d56,
.cursorPointer__3707a.title__84e16,
.sidebarRegion__36437,
.closeButton__8177f,
[class*="menu-"][role="menu"] {
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows_e41dab::before {
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    height: calc(var(--window-margin) * 1px);
    width: 100%;
    -webkit-app-region: drag;
}
