#app-mount .tooltip__7b090 {
    border: var(--background-floating-border);
    border-radius: 6px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

html.theme-dark #app-mount .tooltipPointer_f7411c {
    filter: drop-shadow(0 0 0 hsl(var(--background-accent-hue), 4%, calc(var(--background-floating-border-l) * 2.25)));
}

#app-mount .tooltipPointer_f7411c {
    filter: drop-shadow(0 0 0 var(--background-floating-border-color));
}

.live_b195a5[style="background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] {
    background-color: var(--status-danger) !important;
}

.container__827e6 {
    background: transparent;
    pointer-events: none
}

.container__827e6 .anchor-1MIwyf {
    pointer-events: auto;
}

.container__827e6 .content_de05de .text__35f5c {
    display: none;
}

.container__827e6 .ready__61f2f {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}

.container__827e6 img,
.container__827e6 video {
    width: 32px;
    height: 32px;
}

.container__827e6 .problems__4ae6d {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-floating);
    border: var(--background-floating-border);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}
