#app-mount .tooltip_b6c360 {
    border: var(--background-floating-border);
    border-radius: 6px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

html.theme-dark #app-mount .tooltipPointer_b6c360 {
    filter: drop-shadow(0 0 0 hsl(var(--background-accent-hue), 4%, calc(var(--background-floating-border-l) * 2.25)));
}

#app-mount .tooltipPointer_b6c360 {
    filter: drop-shadow(0 0 0 var(--background-floating-border-color));
}

.live_e17fae[style="background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] {
    background-color: var(--status-danger) !important;
}

.container_e40c16 {
    background: transparent;
    pointer-events: none
}

.container_e40c16 .anchor-1MIwyf {
    pointer-events: auto;
}

.container_e40c16 .content_e40c16 .text_e40c16 {
    display: none;
}

.container_e40c16 .ready_e40c16 {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}

.container_e40c16 img,
.container_e40c16 video {
    width: 32px;
    height: 32px;
}

.container_e40c16 .problems_e40c16 {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-floating);
    border: var(--background-floating-border);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}
