.wrapper-1_HaEi {
    background-color: transparent;
    justify-content: center;
}

.guilds-2JjMmN {
    margin-top: 24px;
    margin-bottom: 24px;
}

.tree-3agP2X {
    justify-content: center;
    align-self: center;
    height: fit-content;
    max-height: calc(100% - 48px);
}

#app-mount .scroller-3X7KbA {
    contain: unset;
    border-radius: calc(1.1rem * (1 + var(--dock-border-radius)));
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: var(--background-modifier-selected);
    border-top: var(--background-modifier-accent-border);
    border-right: var(--background-modifier-accent-border);
    backdrop-filter: blur(var(--dock-blur-calc));
}

.theme-light .guilds-2JjMmN:not(.theme-dark) .scroller-3X7KbA {
    background-color: var(--background-floating-40a);
    border-top: var(--background-floating-primary-border-a);
    border-right: var(--background-floating-primary-border-a);
}

.container-1NXEtd[aria-label^='Server for Disease Control ('] .container-1-ERn5::after,
.container-1NXEtd[aria-label^='Favorites ('] .container-1-ERn5::after {
    border-top-left-radius: var(--window-border-radius-calc);
    border-top-right-radius: var(--window-border-radius-calc);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-1NXEtd[aria-label^='Server for Disease Control ('] .headerContent-2SNbie {
    color: hsl(var(--background-accent-hue), 2%, 92%);
}