.wrapper__832f2 {
    width: 60px;
}

.expandedFolderBackground_b1385f {
    left: 6px;
}

#app-mount .expandedFolderBackground_b1385f.collapsed__98ad5,
#app-mount .expandedFolderBackground_b1385f.collapsed__98ad5.hover__043de {
    background-color: transparent;
}

#app-mount .folder__17546 {
    background-color: transparent;
}

.expandedFolderBackground_b1385f:not(.collapsed__98ad5) {
    background-color: var(--background-modifier-accent);
    box-shadow: var(--box-shadow-outer-2);
}

.theme-light .expandedFolderBackground_b1385f:not(.collapsed__98ad5) {
    background-color: var(--background-floating-40a);
}

.expandedFolderBackground_b1385f.collapsed__98ad5 {
    bottom: 0;
}

#app-mount .folder__17546.hover__043de svg {
    color: #fff !important;
}

#app-mount .folder__17546.hover__043de {
    background-color: var(--brand-experiment);
}
