.wrapper_bc7085 {
    width: 60px;
}

.expandedFolderBackground_bc7085 {
    left: 6px;
}

#app-mount .expandedFolderBackground_bc7085.collapsed_bc7085,
#app-mount .expandedFolderBackground_bc7085.collapsed_bc7085.hover_bc7085 {
    background-color: transparent;
}

#app-mount .folder_bc7085 {
    background-color: transparent;
}

.expandedFolderBackground_bc7085:not(.collapsed_bc7085) {
    background-color: var(--background-modifier-accent);
    box-shadow: var(--box-shadow-outer-2);
}

.theme-light .expandedFolderBackground_bc7085:not(.collapsed_bc7085) {
    background-color: var(--background-floating-40a);
}

.expandedFolderBackground_bc7085.collapsed_bc7085 {
    bottom: 0;
}

#app-mount .folder_bc7085.hover_bc7085 svg {
    color: #fff !important;
}

#app-mount .folder_bc7085.hover_bc7085 {
    background-color: var(--brand-experiment);
}
