#app-mount>.errorPage_a41002::before,
#app-mount>.errorPage_a41002::after {
    color: #fff;
}

.theme-light #app-mount>.errorPage_a41002::before,
.theme-light #app-mount>.errorPage_a41002::after {
    color: black;
}

.wrapper__77675.errorPage_a41002>.flex_f18b02 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-floating-80a);
    border-radius: 10px;
    border: var(--background-floating-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 16px;
    -webkit-app-region: drag;
}

.wrapper__77675.errorPage_a41002 {
    background-color: hsla(0, 0%, calc(var(--background-floating-l) * (1 + var(--background-overlay-color-lightness))), var(--background-overlay-opacity));
}

.wrapper__77675.errorPage_a41002 .text__6066f {
    width: 320px;
}

.wrapper__77675.errorPage_a41002 .button__581d0.sizeLarge_b395a7 {
    width: 320px;
    min-width: 320px;
    height: 36px;
    min-height: 36px;
    background: var(--button-brand-gradient);
    -webkit-app-region: no-drag;
}

#app-mount .wrapper__77675.errorPage_a41002 .image_e0cb48 {
    background-image: url('https://nyri4.github.io/Discolored/assets/crash.svg');
    filter: drop-shadow(var(--box-shadow-outer-3));
    margin-bottom: 20px;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.theme-dark .wrapper__77675.errorPage_a41002 .title__5060d,
.theme-dark .wrapper__77675.errorPage_a41002 .note__35490 {
    color: var(--header-primary);
}

.wrapper__77675.errorPage_a41002 .title__5060d {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--font-display);
    color: black;
}

.wrapper__77675.errorPage_a41002 .note__35490 {
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: 0 0;
}

.wrapper__77675.errorPage_a41002 .note__35490 p {
    margin: 0 0;
}
