.container_d576e9 {
    border-radius: var(--window-border-radius-calc);
    background: var(--background-tertiary-a);
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    -webkit-backdrop-filter: blur(var(--window-blur-calc));
    backdrop-filter: blur(var(--window-blur-calc));
    overflow: hidden;
    height: auto;
}
