.container-1kcjXL,
.scroller-1aYPCA {
    background: var(--background-tertiary-a);
}

.container-1kcjXL {
    border-radius: var(--window-border-radius-calc);
    background: var(--background-tertiary-a);
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    backdrop-filter: blur(var(--window-blur-calc));
}

.primaryCard-2ZCwTj,
.secondaryCard-GdySWU {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.applicationStore_fc7d76 {
    border-radius: var(--window-border-radius-calc);
    background: var(--background-tertiary-a);
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    backdrop-filter: blur(var(--window-blur-calc));
}

.headerBar_afb1ac:before {
    -webkit-box-shadow: var(--elevation-low-a);
    box-shadow: var(--elevation-low-a);
}

.theme-light .applicationStore_fc7d76 {
    border-left: var(--background-tertiary-border-a);
}

.scroller__244e5 {
    background-color: transparent;
}

#app-mount .feature-2IUcBI,
.bigPerkCard-1uwmWV,
.smallPerkCard-2sX_-- {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}