#app-mount .container__5c7e7 {
    border-radius: var(--window-border-radius-calc);
    background-color: transparent;
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
}

.container__5c7e7 .content__1a4fe,
.container__5c7e7 .tabBody_b3d268 {
    backdrop-filter: blur(var(--window-friends-blur-calc));
}

.container__5c7e7 {
    position: relative;
}

.container__5c7e7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: var(--window-background-image-calc);
}

.theme-light #app-mount .container__5c7e7 {
    border-left: var(--background-tertiary-border-a);
}

.tabBody_b3d268:before {
    -webkit-box-shadow: var(--elevation-low-a);
    box-shadow: var(--elevation-low-a);
}

.container__5c7e7 .tabBody_b3d268 {
    background: var(--background-secondary-a);
}

.container__0a6a9,
.nowPlayingColumn_f5023f {
    background-color: transparent;
}

#app-mount .nowPlayingColumn_f5023f .outer_a41cf3.active__76f42,
#app-mount .nowPlayingColumn_f5023f .outer_a41cf3.interactive__01cfa:hover {
    background-color: var(--background-modifier-hover);
}

.nowPlayingColumn_f5023f .wrapper__6e669 {
    background-color: var(--background-primary-a);
    border: var(--background-primary-border-a);
}

#app-mount .nowPlayingColumn_f5023f .inset__0bfb3 {
    border: var(--background-primary-border-a);
    background-color: var(--background-secondary-a);
}

.nowPlayingColumn_f5023f .section_efc22d {
    background-color: var(--background-secondary-a);
}

.scroller__00e7e {
    border-left: none;
}

.peopleListItem_d14722:nth-child(even) {
    background: var(--background-secondary-a);
}

.peopleListItem_d14722:nth-child(odd) {
    background: var(--background-primary-a);
}

.peopleList__2379e {
    margin-top: 0;
}

.peopleColumn__51df3 .searchBar_ff8800 {
    margin-right: 36px;
}

.peopleColumn__51df3 .title_dc625c.container-q97qHp {
    background-color: var(--background-secondary-a);
    padding: 8px;
    margin-bottom: 0;
    margin-right: 36px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: var(--background-secondary-border-a);
}

.peopleListItem_d14722:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: var(--background-secondary-border-a);
}

.peopleListItem_d14722 {
    background: var(--background-primary);
    padding: 16px;
    border-top: none;
    border-left: var(--background-secondary-border-a);
    border-right: var(--background-secondary-border-a);
}

.peopleListItem_d14722.active__6b8ff:last-child,
.peopleListItem_d14722:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.peopleListItem_d14722.active__6b8ff,
.peopleListItem_d14722:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-left-color: var(--background-secondary-border-color-a);
    border-right-color: var(--background-secondary-border-color-a);
    margin: 0 20px 0 30px;
    padding: 16px;
}

.actionButton__23182.highlight__5b64b {
    background-color: var(--background-tertiary-a);
}

.peopleListItem_d14722 .actions_c08157,
.peopleListItem_d14722 .actions_c08157 {
    display: none;
}

.peopleListItem_d14722.active__6b8ff .actions_c08157,
.peopleListItem_d14722:hover .actions_c08157 {
    display: flex;
}

.peopleListItem_d14722.active__6b8ff+.peopleListItem_d14722,
.peopleListItem_d14722:hover+.peopleListItem_d14722 {
    border-left-color: var(--background-secondary-border-color-a);
    border-right-color: var(--background-secondary-border-color-a);
}

.peopleListItem_d14722.active__6b8ff:last-child+.peopleListItem_d14722,
.peopleListItem_d14722:hover+.peopleListItem_d14722:last-child {
    border-color: var(--background-secondary-border-color-a);
}

.peopleColumn__51df3 .container__7712a {
    background-color: transparent;
    box-shadow: var(--background-secondary-box-shadow-border-a);
}

.peopleColumn__51df3 .container__7712a:focus-within {
    box-shadow: var(--box-shadow-selection-50a);
}

.topPill__0cdf1 {
    border: var(--background-primary-border-a);
    border-radius: 8px;
    background: var(--background-primary-a);
}

.topPill__0cdf1 .item__48dda {
    border-radius: 6px;
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid transparent;
}

.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
    background-color: var(--button-selected-background);
    border-top-color: rgba(255, 255, 255, 0.2);
    box-shadow: var(--btn-outer-shadow);
}

.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda:hover {
    background-color: var(--button-selected-background);
}

.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda:active:not([class*="disabled"]) {
    background-color: var(--button-selected-background);
}

.topPill__0cdf1 .themed_b957e8.item__48dda,
.topPill__0cdf1 .themed_b957e8.item__48dda:hover {
    color: var(--interactive-active);
}

.item_e4ca95.item__48dda.themed_b957e8[aria-controls="add_friend-tab"] {
    border: 1px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.2);
}

.item_e4ca95.item__48dda.themed_b957e8[aria-selected="true"][aria-controls="add_friend-tab"] {
    cursor: default;
    color: #fff !important;
    background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
}

.addFriendInputWrapper__4bf8e {
    background-color: transparent;
    border-color: var(--background-modifier-accent);
}