#app-mount .pageWrapper_c182d3 {
    border-radius: var(--window-border-radius-calc);
    background: var(--background-tertiary-a);
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    backdrop-filter: blur(var(--window-blur-calc));
    overflow: hidden;
}

.theme-light #app-mount .pageWrapper_c182d3 {
    border-left: var(--background-tertiary-border-a);
}

.layout_bb8e67 {
    border-radius: 8px;
}

.card__86773 {
    --background-floating: var(--background-primary);
    --background-tertiary: var(--background-secondary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.searchBox__56feb {
    border-radius: 6px;
}

#app-mount .card__86773,
#app-mount .iconMask__4092e {
    background-color: var(--background-primary);
}

#app-mount .card__86773,
#app-mount .iconMask__4092e {
    background-color: var(--background-primary);
}

#app-mount .card__86773:hover,
#app-mount .card__86773:hover .iconMask__4092e,
#app-mount .iconMask__4092e:hover,
#app-mount .iconMask__4092e:hover .iconMask__4092e {
    background-color: var(--background-secondary);
}

.scroller__32e73 {
    border-radius: var(--window-border-radius-calc);
    background: var(--background-tertiary-a);
    border-left: var(--background-tertiary-border-variable-divider-a);
    border-top: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    backdrop-filter: blur(var(--window-blur-calc));
}

.theme-light .scroller__32e73 {
    border-left: var(--background-tertiary-border-a);
}

.container_c83a4f {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.name__7afe8 {
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
}

html:not(.app-focused) .categoryItem__0608f.selectedCategoryItem__3e361 {
    color: var(--text-normal);
}

html:not(.app-focused) .categoryItem__0608f.selectedCategoryItem__3e361 .itemInner_eedb2b {
    background-color: var(--background-modifier-selected);
}
