.button_afdfd9 {
    border-radius: 6px;
}

.lookFilled__19298.colorRed_d6b062 {
    border-top: 1px solid var(--button-danger-background-460);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.lookFilled__19298.colorRed_d6b062:hover {
    border-top: 1px solid var(--button-danger-background);
}

.lookOutlined-3yKVGo.colorRed_d6b062:hover {
    border-top: 1px solid var(--button-danger-background-460);
}

.button_afdfd9.lookFilled__19298.colorPrimary__6ed40 {
    color: var(--interactive-active);
    background-color: var(--button-selected-background);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.button_afdfd9.lookFilled__19298.colorPrimary__6ed40:hover {
    background-color: var(--background-modifier-hover);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.lookFilled__19298.colorBrand_b2253e:not(.button__66e8c):hover {
    background-color: var(--brand-experiment-440);
}

.button_afdfd9.lookFilled__19298 {
    border-radius: 6px;
    box-shadow: var(--btn-outer-shadow);
}

.button_afdfd9.lookFilled__19298.colorBrand_b2253e:not(.button__66e8c) {
    border: 1px solid transparent;
    border-top: 1px solid var(--brand-experiment-460);
}

.button_afdfd9.lookFilled__19298.colorBrand_b2253e:not(.button__66e8c):hover {
    border-top: 1px solid var(--brand-experiment);
}

.button_afdfd9.lookOutlined-3yKVGo {
    border-radius: 6px;
}

.disabledButtonWrapper__69c70.button__66e8c.buttonColor_a6eb73 {
    border: none;
    background-color: transparent;
}