.container_cebd1c {
    background-color: var(--background-primary) !important;
    box-shadow:
        var(--btn-pill-inner-shadow),
        0 0 1px var(--background-secondary);
}

.container_cebd1c.checked_cebd1c {
    background: var(--button-brand-gradient-inner) !important;
}

.container_cebd1c .slider_cebd1c svg {
    display: none;
}

.container_cebd1c .slider_cebd1c {
    transform: scale(1.1);
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.2));
}

.checkbox_f6cde8.checked_f6cde8 {
    border: none;
    background: var(--button-brand-gradient);
}

.checkbox_f6cde8.checked_f6cde8 svg {
    height: 20px;
    width: 20px;
}

#app-mount .checkbox_f6cde8 {
    border-color: var(--background-modifier-accent);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--background-primary);
}

.itemFilled_eb92a8,
.itemFilled_eb92a8[aria-checked=true],
.itemFilled_eb92a8[aria-checked=false]:hover {
    background-color: transparent;
}
