.select_f6639d {
    border: 1px solid transparent;
    padding: 8px 8px 8px 12px;
    border-radius: 6px;
}

.select_f6639d.open_f6639d {
    border-radius: 6px;
}

.select_f6639d .icons-2dXYop {
    color: #fff;
    border-radius: 6px;
    background: var(--button-brand-gradient);
    box-shadow: var(--background-primary-box-shadow-border);
}

.lookFilled_f6639d.select_f6639d {
    background-color: var(--background-primary) !important;
    border: none;
    box-shadow: var(--btn-outer-shadow);
}

.popout_f6639d {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.popout_f6639d.popoutPositionTop_f6639d {
    border-radius: 8px;
}

.option_f6639d {
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    color: var(--interactive-normal);
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.option_f6639d,
.bd-select-option {
    margin: 2px 0;
}

.option_f6639d[aria-selected=true]:not(.option_f6639d.multi_f6639d) {
    color: #fff;
    background-color: var(--brand-experiment);
}

.h4_c46f6a,
.h5_c46f6a {
    font-weight: 600;
    text-transform: capitalize;
}

.h5_c46f6a {
    font-size: 14px;
}

.defaultKeybindGroupHeader_f916fc {
    text-transform: capitalize;
    font-size: 14px;
}
