.select_fe2671 {
    border: 1px solid transparent;
    padding: 8px 8px 8px 12px;
    border-radius: 6px;
}

.select_fe2671.open_cd27aa {
    border-radius: 6px;
}

.select_fe2671 .icons-2dXYop {
    color: #fff;
    border-radius: 6px;
    background: var(--button-brand-gradient);
    box-shadow: var(--background-primary-box-shadow-border);
}

.lookFilled__9c1ef.select_fe2671 {
    background-color: var(--background-primary) !important;
    border: none;
    box-shadow: var(--btn-outer-shadow);
}

.popout_a6e77f {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.popout_a6e77f.popoutPositionTop__762b9 {
    border-radius: 8px;
}

.option_eb83e4 {
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    color: var(--interactive-normal);
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.option_eb83e4,
.bd-select-option {
    margin: 2px 0;
}

.option_eb83e4[aria-selected=true]:not(.option_eb83e4.multi__8d15f) {
    color: #fff;
    background-color: var(--brand-experiment);
}

.h4__2a89d,
.h5__28baa {
    font-weight: 600;
    text-transform: capitalize;
}

.h5__28baa {
    font-size: 14px;
}

.defaultKeybindGroupHeader__3c306 {
    text-transform: capitalize;
    font-size: 14px;
}
