.select__0eb48 {
    border: 1px solid transparent;
    padding: 8px 8px 8px 12px;
    border-radius: 6px;
}

.select__0eb48.open_cd27aa {
    border-radius: 6px;
}

.select__0eb48 .icons-2dXYop {
    color: #fff;
    border-radius: 6px;
    background: var(--button-brand-gradient);
    box-shadow: var(--background-primary-box-shadow-border);
}

.lookFilled__3dba3.select__0eb48 {
    background-color: var(--background-primary) !important;
    border: none;
    box-shadow: var(--btn-outer-shadow);
}

.popout_a6e77f {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.popout_a6e77f.popoutPositionTop_b2d29e {
    border-radius: 8px;
}

.option_be8b2e {
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    color: var(--interactive-normal);
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.option_be8b2e,
.bd-select-option {
    margin: 2px 0;
}

.option_be8b2e[aria-selected=true]:not(.option_be8b2e.multi__8d15f) {
    color: #fff;
    background-color: var(--brand-experiment);
}

.h4_b54400,
.h5__884a2 {
    font-weight: 600;
    text-transform: capitalize;
}

.h5__884a2 {
    font-size: 14px;
}

.defaultKeybindGroupHeader_cee6f0 {
    text-transform: capitalize;
    font-size: 14px;
}