.upload_df1eaf {
    background-color: var(--background-primary);
    border-radius: 6px;
    box-shadow: var(--background-primary-box-shadow-border);
}

.upload_df1eaf .filename_f847a3 {
    text-align: center;
}

#app-mount .uploadModal_f82cc7 {
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    -webkit-box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}

#app-mount .uploadModal_f82cc7 .footer_f82cc7 {
    background-color: var(--background-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.uploadModal_f82cc7 .checkbox_f6cde8.checked_f6cde8 svg path {
    fill: #fff;
}

.uploadModal_f82cc7 .icon_f82cc7 {
    border-radius: 6px;
    box-shadow: var(--elevation-medium);
}
