.upload_c98ecb {
    background-color: var(--background-primary);
    border-radius: 6px;
    box-shadow: var(--background-primary-box-shadow-border);
}

.upload_c98ecb .filename__7ce23 {
    text-align: center;
}

#app-mount .uploadModal_eae2a0 {
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    -webkit-box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}

#app-mount .uploadModal_eae2a0 .footer_ceda43 {
    background-color: var(--background-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.uploadModal_eae2a0 .checkbox_c7f690.checked__24ad6 svg path {
    fill: #fff;
}

.uploadModal_eae2a0 .icon__25b13 {
    border-radius: 6px;
    box-shadow: var(--elevation-medium);
}