.upload_c98ecb {
    background-color: var(--background-primary);
    border-radius: 6px;
    box-shadow: var(--background-primary-box-shadow-border);
}

.upload_c98ecb .filename__1769f {
    text-align: center;
}

#app-mount .uploadModal__6eb75 {
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    -webkit-box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
}

#app-mount .uploadModal__6eb75 .footer_f06dbb {
    background-color: var(--background-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.uploadModal__6eb75 .checkbox_fcf2ad.checked__16f88 svg path {
    fill: #fff;
}

.uploadModal__6eb75 .icon__4bc4d {
    border-radius: 6px;
    box-shadow: var(--elevation-medium);
}
