#app-mount :not(.container_f4e139).root_f9a4c9 {
    border-radius: 8px;
    border: var(--background-tertiary-border);
}

.root_f9a4c9 .header_f9a4c9 {
    border-radius: 8px 8px 0 0;
}

.root_f9a4c9 .footer_f9a4c9 {
    border-radius: 0 0 8px 8px;
    background-color: transparent;
}

#app-mount .root_f9a4c9 .footerSeparator_f9a4c9 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.header_f9a4c9 {
    box-shadow: var(--elevation-low);
    background-color: var(--background-accent);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.header_f9a4c9 .modalTitle-2rlE_E {
    margin-bottom: 0;
    font-size: 16px;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.header_f9a4c9 h1 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9 .heading-lg-medium-3gUJeM {
    font-size: 16px;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9 .content_f9a4c9 {
    padding-top: 16px;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.content_f9a4c9 .defaultColor-24IHKz,
.root_f9a4c9.fullscreenOnMobile_f9a4c9 .pro_dcc874 {
    text-align: center;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.header_f9a4c9 .horizontal_bba380>.flex_bba380,
.root_f9a4c9.fullscreenOnMobile_f9a4c9>.header_f9a4c9 .horizontal_bba380>.flexChild_bba380 {
    margin-left: 0;
    margin-right: 0;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.header_f9a4c9 .close-1mLglB {
    width: 26px;
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.root_f9a4c9.fullscreenOnMobile_f9a4c9>.footer_f9a4c9 {
    border-top: var(--background-secondary-border);
}
