#app-mount :not(.container_a35729).root_a28985 {
    border-radius: 8px;
    border: var(--background-tertiary-border);
}

.root_a28985 .header__5e5a6 {
    border-radius: 8px 8px 0 0;
}

.root_a28985 .footer_e0b400 {
    border-radius: 0 0 8px 8px;
    background-color: transparent;
}

#app-mount .root_a28985 .footerSeparator__2af8d {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.root_a28985.fullscreenOnMobile__05784>.header__5e5a6 {
    box-shadow: var(--elevation-low);
    background-color: var(--background-accent);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.root_a28985.fullscreenOnMobile__05784>.header__5e5a6 .modalTitle-2rlE_E {
    margin-bottom: 0;
    font-size: 16px;
}

.root_a28985.fullscreenOnMobile__05784>.header__5e5a6 h1 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
}

.root_a28985.fullscreenOnMobile__05784 .heading-lg-medium-3gUJeM {
    font-size: 16px;
}

.root_a28985.fullscreenOnMobile__05784 .content_b28aab {
    padding-top: 16px;
}

.root_a28985.fullscreenOnMobile__05784>.content_b28aab .defaultColor-24IHKz,
.root_a28985.fullscreenOnMobile__05784 .pro_db62e1 {
    text-align: center;
}

.root_a28985.fullscreenOnMobile__05784>.header__5e5a6 .horizontal__4848b>.flex_f18b02,
.root_a28985.fullscreenOnMobile__05784>.header__5e5a6 .horizontal__4848b>.flexChild__3da10 {
    margin-left: 0;
    margin-right: 0;
}

.root_a28985.fullscreenOnMobile__05784>.header__5e5a6 .close-1mLglB {
    width: 26px;
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.root_a28985.fullscreenOnMobile__05784>.footer_e0b400 {
    border-top: var(--background-secondary-border);
}
