#app-mount .keyboardShortcutsModal_ad95dc {
    background-color: var(--background-secondary);
    border-radius: 6px;
    box-shadow: var(--background-secondary-box-shadow-border);
}

.key_c90023 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}
