#app-mount .keyboardShortcutsModal__44538 {
    background-color: var(--background-secondary);
    border-radius: 6px;
    box-shadow: var(--background-secondary-box-shadow-border);
}

.key__6a8d9 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}
