#app-mount .keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-secondary);
    border-radius: 6px;
    box-shadow: var(--background-secondary-box-shadow-border);
}

.key-N5VmHN {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}