.quickswitcher_a3d29a {
    border: var(--background-tertiary-border);
    padding: 0;
}

.quickswitcher_a3d29a .scroller__52ae7 {
    --background-secondary-alt: transparent;
    margin-right: 0;
    background-color: transparent;
}

.quickswitcher_a3d29a .input__848cd {
    border-radius: 0;
    background-color: transparent;
    border-bottom: var(--background-secondary-border);
}

.quickswitcher_a3d29a .protip__84833 {
    padding-left: 16px;
    padding-right: 16px;
}

.quickswitcher_a3d29a .result__25f11 {
    margin-left: 16px;
    border-radius: 6px;
}

.quickswitcher_a3d29a .result__25f11[aria-selected=true] {
    background: var(--background-primary);
}