.quickswitcher_f4e139 {
    border: var(--background-tertiary-border);
    padding: 0;
}

.quickswitcher_f4e139 .scroller_f4e139 {
    --background-secondary-alt: transparent;
    margin-right: 0;
    background-color: transparent;
}

.quickswitcher_f4e139 .input_f4e139 {
    border-radius: 0;
    background-color: transparent;
    border-bottom: var(--background-secondary-border);
}

.quickswitcher_f4e139 .protip_f4e139 {
    padding-left: 16px;
    padding-right: 16px;
}

.quickswitcher_f4e139 .result_f14193 {
    margin-left: 16px;
    border-radius: 6px;
}

.quickswitcher_f4e139 .result_f14193[aria-selected=true] {
    background: var(--background-primary);
}
