#app-mount .container_dc03c3.root_a28985,
#app-mount .root_a28985 .reactors__20ab0 {
    background-color: var(--background-secondary);
}

#app-mount .root_a28985 .scroller__5fda0 {
    background: none;
    border-right: var(--background-secondary-border);
}

#app-mount .root_a28985 .reactionSelected__249a7 {
    border-radius: 6px;
}

.reactors__20ab0 .reactor_c2818b .wrapper-1VLyxH {
    margin-right: 8px;
}