#app-mount .container_f8ef5d.root_a28985,
#app-mount .root_a28985 .reactors__0f305 {
    background-color: var(--background-secondary);
}

#app-mount .root_a28985 .scroller__9a4f3 {
    background: none;
    border-right: var(--background-secondary-border);
}

#app-mount .root_a28985 .reactionSelected__16345 {
    border-radius: 6px;
}

.reactors__0f305 .reactor_cc0078 .wrapper-1VLyxH {
    margin-right: 8px;
}
