#app-mount .container-KM8BU6.root-1CAIjD,
#app-mount .root-1CAIjD .reactors-1VXca7 {
    background-color: var(--background-secondary);
}

#app-mount .root-1CAIjD .scroller-2GkvCq {
    background: none;
    border-right: var(--background-secondary-border);
}

#app-mount .root-1CAIjD .reactionSelected-1aMb2K {
    border-radius: 6px;
}

.reactors-1VXca7 .reactor-1J25Qp .wrapper-1VLyxH {
    margin-right: 8px;
}