.cameraPreview-2_ITfQ {
    margin-top: 24px;
    position: relative;
    background: var(--background-secondary);
    border-radius: 8px;
    box-shadow: var(--background-secondary-box-shadow-border);
}