#app-mount .contentWrapper__85d37 {
    background: var(--background-secondary);
}

.optionContainer__5d0b1 {
    border: var(--background-primary-border);
    background: var(--background-primary);
}

.main__1b033 {
    background: var(--background-secondary);
}

.optionContainer__5d0b1:hover {
    background: var(--background-tertiary);
}

.spamBanner_adb1b9 {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-floating-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}