#app-mount .contentWrapper_f9bc93 {
    background: var(--background-secondary);
}

.optionContainer__0233f {
    border: var(--background-primary-border);
    background: var(--background-primary);
}

.main_b2d99f {
    background: var(--background-secondary);
}

.optionContainer__0233f:hover {
    background: var(--background-tertiary);
}

.spamBanner_b5e5bf {
    background: var(--background-floating);
    border-radius: 8px;
    border: var(--background-floating-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}
