#app-mount .perksModal-CLcR1c {
    background-color: transparent;
}

.perksModal-CLcR1c .ctaBar-Nhk8yY {
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: var(--box-shadow-border);
    background-color: var(--background-floating-80a);
}

.perksModal-CLcR1c .tier-lFqDUs {
    border-radius: 8px;
    box-shadow: var(--box-shadow-border);
}

.perksModal-CLcR1c .tierHeader-wgo0w_ {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

#app-mount .perksModal-CLcR1c .tierBody-3ju-rc {
    border-radius: 0 0 8px 8px;
    background-color: var(--background-floating-80a);
}

#app-mount .perksModal-CLcR1c .tierMarkerBackground-G8FoN4 {
    background-color: var(--background-floating);
}

#app-mount .perksModal-CLcR1c .perk-19D_HN {
    border: var(--background-floating-border);
    background-color: var(--background-floating-80a);
}

.theme-light .perksModalContentWrapper-3RHugb .headerLogo-2M4f14,
.perksModalContentWrapper-3RHugb .defaultColor-HXu-5n.subscriberPerksHeader-1kC9fO,
.perksModalContentWrapper-3RHugb .defaultColor-HXu-5n.heading-2w-1WC {
    color: #fff;
}

.perksModalContentWrapper-3RHugb .defaultColor-24IHKz.headerBlurb-m6Avyp,
.perksModalContentWrapper-3RHugb .defaultColor-24IHKz.text-md-normal-2rFCH3 {
    color: #dcddde;
}

.theme-light .perksModalContentWrapper-3RHugb .giftIcon-2kmx1K {
    color: var(--header-primary);
}