/* Main container */
.wrapper-rWtXPd {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-secondary);
    border-radius: 8px;
}

/* Header */
.detailsWrapper-TE1mu5 {
    width: 100%;
    position: relative;
    inset: 0;
    order: -1;
    border-radius: 8px 8px 0 0;
    box-shadow: var(--elevation-low);
    background-color: var(--background-accent);
    padding: 6px 0;
    text-align: center;
}

.detailsWrapper-TE1mu5 .details-9dkFPc {
    padding: 0 6px;
    color: var(--text-normal);
}

.detailsWrapper-TE1mu5 .details-9dkFPc:first-child {
    margin-top: 0;
    font-family: var(--font-display);
    color: var(--header-primary);
    font-weight: 600;
}

.detailsWrapper-TE1mu5 .details-9dkFPc:not(:last-child) .label-mrlccN {
    display: none;
}

.detailsWrapper-TE1mu5 .details-9dkFPc .label-mrlccN {
    width: unset;
    margin-right: 8px;
}

/* Bottom Controls */
.wrapper-rWtXPd>.downloadLink-3cavAH,
.operations-3V47CY {
    position: relative;
    display: flex;
    border-top: var(--background-secondary-border);
    width: 100%;
    justify-content: center;
}

.wrapper-rWtXPd .downloadLink-3cavAH {
    top: unset;
    color: var(--text-normal) !important;
}

/* Image */
.wrapper-rWtXPd .imageWrapper-oMkQl4 {
    background: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none"  viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="5" height="5" fill="lightgrey" /><rect x="5" y="5" width="5" height="5" fill="lightgrey" /><rect x="5" y="0" width="5" height="5" fill="white" /><rect x="0" y="5" width="5" height="5" fill="white" /></svg>') 0 0/25% 25%;
    margin: 16px 16px 20px 16px;
}

.modal-3Crloo :not(.sibling-6vI7Pu)>.imageWrapper-oMkQl4 {
    min-width: unset;
}