.sidebar_e031be .channel__0aef5 {
    max-width: unset;
}

#app-mount .name__4eb92 {
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
}

.container-q97qHp {
    color: var(--text-muted);
}

.wrapper__07e2f.clickable__797c7 .arrow_cb03b8.icon__3aa8e {
    display: none;
}

.wrapper__07e2f.clickable__797c7:hover .arrow_cb03b8.icon__3aa8e {
    display: block;
}

.modeConnected__52a8f .name__4eb92,
.modeConnected__52a8f:hover .name__4eb92,
.modeSelected__473f1 .name__4eb92,
.modeSelected__473f1:hover .name__4eb92,
.modeUnreadImportant__35358 .name__4eb92,
.modeUnreadImportant__35358:hover .name__4eb92,
.notInteractive_e31551.modeConnected__52a8f .name__4eb92,
.notInteractive_e31551.modeSelected__473f1 .name__4eb92 {
    color: var(--text-normal);
}

.unreadImportant_e8bb44 {
    background-color: var(--text-normal);
}

.theme-light {
    --font-weight-semibold-1x-light-theme: 500;
}

#app-mount .divider__0c76f {
    border-top: var(--background-modifier-accent-border);
}

.link_ddbb36 {
    border-radius: 6px;
}

.wrapper__612a5.modeConnected__52a8f .icon__67ab4 {
    color: var(--status-positive);
}

.wrapper__612a5.modeLocked__6df8a .icon__67ab4 {
    color: var(--status-grey);
}

.modeUnreadImportant__35358 .icon__67ab4,
.modeUnreadImportant__35358:hover .icon__67ab4 {
    color: var(--interactive-active);
}

.link_ddbb36 .icon__67ab4 {
    width: 16px;
    height: 16px;
}

.container-q97qHp {
    font-size: 12px;
    text-transform: capitalize;
}

.unread__48cf4 {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-top: -3px;
}

.bar__004d9:not(.mentionsBar__7d867) {
    background-color: var(--background-floating);
    border: var(--background-floating-border);
}

.bar__004d9 .barText__32a63 {
    text-transform: capitalize;
}

.unread__11823.container_fd18f1 {
    display: flex;
    justify-content: center;
}

html.app-focused .modeSelected__473f1 .link_ddbb36,
html.app-focused .modeSelected__473f1:hover .link_ddbb36 {
    background-color: var(--brand-experiment);
}

html.app-focused .modeSelected__473f1 .name__4eb92,
html.app-focused .modeSelected__473f1:hover .name__4eb92 {
    color: #fff;
}

html.app-focused .modeSelected__473f1 .icon__67ab4,
html.app-focused .modeSelected__473f1:hover .icon__67ab4 {
    color: #fff;
}

html.app-focused .modeSelected__473f1 .link_ddbb36 .actionIcon_b149a2,
html.app-focused .modeSelected__473f1:hover .link_ddbb36 .actionIcon_b149a2 {
    color: var(--text-normal);
}

html.app-focused .modeSelected__473f1 .link_ddbb36 .subtitle_eb6026,
html.app-focused .modeSelected__473f1:hover .link_ddbb36 .subtitle_eb6026 {
    color: #fff !important;
}
