.sidebar_ded4b5 .channel_c21703 {
    max-width: unset;
}

#app-mount .name__8d1ec {
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
}

.container-q97qHp {
    color: var(--text-muted);
}

.wrapper__9c483.clickable_dbdd2a .arrow_cb03b8.icon_ef4486 {
    display: none;
}

.wrapper__9c483.clickable_dbdd2a:hover .arrow_cb03b8.icon_ef4486 {
    display: block;
}

.modeConnected__1c02e .name__8d1ec,
.modeConnected__1c02e:hover .name__8d1ec,
.modeSelected__487d6 .name__8d1ec,
.modeSelected__487d6:hover .name__8d1ec,
.modeUnread_f74c03 .name__8d1ec,
.modeUnread_f74c03:hover .name__8d1ec,
.notInteractive_a7d9fb.modeConnected__1c02e .name__8d1ec,
.notInteractive_a7d9fb.modeSelected__487d6 .name__8d1ec {
    color: var(--text-normal);
}

.unreadRelevant__44f9e {
    background-color: var(--text-normal);
}

.theme-light {
    --font-weight-semibold-1x-light-theme: 500;
}

#app-mount .divider__40683 {
    border-top: var(--background-modifier-accent-border);
}

.link__95dc0 {
    border-radius: 6px;
}

.wrapper__7bcde.modeConnected__1c02e .icon_eff5d4 {
    color: var(--status-positive);
}

.wrapper__7bcde.modeLocked_fcc71a .icon_eff5d4 {
    color: var(--status-grey);
}

.modeUnread_f74c03 .icon_eff5d4,
.modeUnread_f74c03:hover .icon_eff5d4 {
    color: var(--interactive-active);
}

.link__95dc0 .icon_eff5d4 {
    width: 16px;
    height: 16px;
}

.container-q97qHp {
    font-size: 12px;
    text-transform: capitalize;
}

.unread__48cf4 {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-top: -3px;
}

.bar__004d9:not(.mentionsBar__4b47a) {
    background-color: var(--background-floating);
    border: var(--background-floating-border);
}

.bar__004d9 .barText__1a44f {
    text-transform: capitalize;
}

.unread__11823.container__88123 {
    display: flex;
    justify-content: center;
}

html.app-focused .modeSelected__487d6 .link__95dc0,
html.app-focused .modeSelected__487d6:hover .link__95dc0 {
    background-color: var(--brand-experiment);
}

html.app-focused .modeSelected__487d6 .name__8d1ec,
html.app-focused .modeSelected__487d6:hover .name__8d1ec {
    color: #fff;
}

html.app-focused .modeSelected__487d6 .icon_eff5d4,
html.app-focused .modeSelected__487d6:hover .icon_eff5d4 {
    color: #fff;
}

html.app-focused .modeSelected__487d6 .link__95dc0 .actionIcon_d679b5,
html.app-focused .modeSelected__487d6:hover .link__95dc0 .actionIcon_d679b5 {
    color: var(--text-normal);
}

html.app-focused .modeSelected__487d6 .link__95dc0 .subtitle_bba2b7,
html.app-focused .modeSelected__487d6:hover .link__95dc0 .subtitle_bba2b7 {
    color: #fff !important;
}