.searchBar_e4ea2a {
    box-shadow: none;
}

.searchBar_e4ea2a .searchBarComponent__22760 {
    background-color: var(--background-modifier-accent);
    box-shadow: var(--box-shadow-border);
}

.privateChannels__93473,
#app-mount .scroller__4b984 {
    background-color: transparent;
}

.container-32HW5s {
    border-radius: 6px;
}

.name__02dbd {
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
}

html.app-focused .selected_d94cf9,
html.app-focused .interactiveSelected_ec846b.selected_d94cf9 {
    color: #fff;
    background-color: var(--brand-experiment);
}

.selected_d94cf9,
.interactiveSelected_ec846b.selected_d94cf9 {
    color: var(--text-normal);
}