.searchBar__621ec {
    box-shadow: none;
}

.searchBar__621ec .searchBarComponent__8f95f {
    background-color: var(--background-modifier-accent);
    box-shadow: var(--box-shadow-border);
}

.privateChannels__9b518,
#app-mount .scroller__89969 {
    background-color: transparent;
}

.container-32HW5s {
    border-radius: 6px;
}

.name_f842e4 {
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
}

html.app-focused .selected__37292,
html.app-focused .interactiveSelected__689f0.selected__37292 {
    color: #fff;
    background-color: var(--brand-experiment);
}

.selected__37292,
.interactiveSelected__689f0.selected__37292 {
    color: var(--text-normal);
}
