.searchBar_f0963d {
    box-shadow: none;
}

.searchBar_f0963d .searchBarComponent_f0963d {
    background-color: var(--background-modifier-accent);
    box-shadow: var(--box-shadow-border);
}

.privateChannels_f0963d,
#app-mount .scroller_c47fa9 {
    background-color: transparent;
}

.container-32HW5s {
    border-radius: 6px;
}

.name_f9647d {
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 400;
}

html.app-focused .selected_f5eb4b,
html.app-focused .interactiveSelected_c91bad.selected_f5eb4b {
    color: #fff;
    background-color: var(--brand-experiment);
}

.selected_f5eb4b,
.interactiveSelected_c91bad.selected_f5eb4b {
    color: var(--text-normal);
}
