.bannerImage_c73a57,
.bannerImg_fe5c1b {
    width: 100%;
}

.header__77c95 {
    box-shadow: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

.animatedContainer__0e828,
.bannerImage_c73a57,
.header__77c95 {
    border-top-left-radius: var(--window-border-radius-calc);
    border-top-right-radius: var(--window-border-radius-calc);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.communityInfoPill__1efab {
    background: var(--background-modifier-accent);
}

.iconBackgroundTierNone__38426,
.iconBackgroundTierOne__019cb,
.iconBackgroundTierThree__6ad51,
.iconBackgroundTierTwo__4f3b5 {
    color: var(--background-modifier-accent);
}
