a.bannerImage_fd6364,
.bannerImg_fd6364 {
    width: 100%;
}

.header_fd6364 {
    box-shadow: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

.animatedContainer_fd6364,
.bannerImage_fd6364,
.header_fd6364 {
    border-top-left-radius: var(--window-border-radius-calc);
    border-top-right-radius: var(--window-border-radius-calc);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.communityInfoPill_fd6364 {
    background: var(--background-modifier-accent);
}

.iconBackgroundTierNone_d4a69b,
.iconBackgroundTierOne_d4a69b,
.iconBackgroundTierThree_d4a69b,
.iconBackgroundTierTwo_d4a69b {
    color: var(--background-modifier-accent);
}
