/* Visible VC Text Button */
@media (hover: hover) {
    .iconVisibility__62ab5:hover .iconItem__8e3b8 {
        display: flex;
    }
}

#app-mount .openChatIconItem-2kj5qO {
    order: 1;
    justify-content: center;
    border-radius: 4px;
    width: 42px;
    padding-right: 0;
}

.openChatIconItem-2kj5qO:hover {
    background-color: var(--background-modifier-selected);
}

.openChatIconItem-2kj5qO .actionIcon_d679b5 {
    color: var(--channels-default);
}



.panels__58331 {
    background-color: transparent;
}

.container_d667ff {
    border-bottom: none;
    background: none;
}

.theme-dark .wrapper__0ed4a,
.theme-dark .panel_bd8c76 {
    --button-selected-background: #fff;
}

.button__66e8c.buttonColor_a6eb73.buttonActive__407a7,
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7 {
    background-color: var(--button-selected-background);
    color: var(--interactive-active);
    font-weight: 600;
}

.wrapper__0ed4a .button__66e8c.buttonColor_a6eb73.buttonActive__407a7,
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7 {
    --interactive-active: #060607;
}

.button__66e8c.buttonColor_a6eb73.buttonActive__407a7 .buttonIcon__80d32,
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7 .buttonIcon__80d32 {
    color: var(--status-positive);
}

.button__66e8c.buttonColor_a6eb73.buttonActive__407a7:hover,
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7:hover {
    background-color: var(--button-selected-background);
}

.button__66e8c.buttonColor_a6eb73 {
    background-color: var(--background-modifier-accent);
    color: var(--text-normal);
    border: var(--background-modifier-accent-border);
}

.panel_bd8c76.activityPanel__22355 {
    border-bottom: none;
    background-color: var(--background-floating-40a);
    border-radius: 12px 12px 0 0;
    border-top: var(--background-tertiary-border);
    border-left: var(--background-tertiary-border);
    border-right: var(--background-tertiary-border);
}

.wrapper__0ed4a:not(:empty) {
    background-color: var(--background-floating-40a);
    border-top: var(--background-tertiary-border);
    border-radius: 12px;
    border: var(--background-tertiary-border);
}

.wrapper__0ed4a:empty+.container_ca50b9 {
    border-top: var(--background-modifier-accent-border);
}

.panel_bd8c76.activityPanel__22355+.wrapper__0ed4a:not(:empty) {
    border-radius: 0 0 12px 12px;
    border-top: none;
}

.panel_bd8c76.activityPanel__22355+.wrapper__0ed4a:empty+.container-6sXIoE.withTimeline-824fT_ {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel_bd8c76.activityPanel__22355+.wrapper__0ed4a:empty+.container-6sXIoE.withTimeline-824fT_+.container_ca50b9 {
    border-top: var(--background-tertiary-border);
}

.panels__58331 .button__4f306:hover {
    border-radius: 5px;
    border: var(--background-tertiary-border);
}

.card-m7VgZ8 {
    border-radius: 6px;
    color: var(--header-primary);
    border: var(--background-secondary-border);
    background-color: var(--background-pri);
}

.group-1_ptLP.flex__909d4 {
    border: var(--background-secondary-border);
    border-radius: 8px;
    background-color: var(--background-tertiary);
}

.item-2OyinQ.selectorButtonSelected-3cQUnj {
    box-shadow: var(--btn-outer-shadow);
}

.selectorButton-3fWZ0_:not(.selectorButtonSelected-3cQUnj, .selectorButtonPremiumRequired-IZXhgV):hover {
    background-color: var(--background-modifier-hover);
}

.selectorButton-3fWZ0_:not(.selectorButtonSelected-3cQUnj, .selectorButtonPremiumRequired-IZXhgV):active {
    background-color: var(--background-modifier-active);
}

.selectorButton-3fWZ0_:not(.selectorButtonSelected-3cQUnj, .selectorButtonPremiumRequired-IZXhgV) {
    background: transparent;
}

.selectorButton-3fWZ0_.selectorButtonPremiumRequired-IZXhgV {
    background: transparent;
}

.qualitySettingsContainer-2LjkfM {
    border-radius: 8px;
    border: var(--background-secondary-border);
}

#app-mount .item-2OyinQ {
    border-radius: 6px;
    margin: 1px;
    border: 1px solid transparent;
}

.root_a28985.fullscreenOnMobile__96797 .modalSize-3WSXDU>.segmentContainer-358IfE {
    margin-top: 8px;
}

.root_a28985.fullscreenOnMobile__96797 .container-2zEtSe.segmentControl-3edJKN {
    border: var(--background-secondary-border);
    background-color: var(--background-tertiary);
    border-radius: 8px;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}

.root_a28985.fullscreenOnMobile__96797 .item-LN5zvA.segmentControlOption-3MnJdT {
    border-radius: 6px;
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid transparent;
}

.root_a28985.fullscreenOnMobile__96797 .item-LN5zvA.segmentControlOption-3MnJdT:not(.selected-2xa993):hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-hover)
}

.root_a28985.fullscreenOnMobile__96797 .item-LN5zvA.segmentControlOption-3MnJdT:not(.selected-2xa993):active {
    color: var(--interactive-active);
    background-color: var(--background-modifier-active)
}

.root_a28985.fullscreenOnMobile__96797 .item-LN5zvA.segmentControlOption-3MnJdT.selected-2xa993 {
    background-color: var(--button-selected-background);
    border-top-color: rgba(255, 255, 255, 0.2);
    box-shadow: var(--btn-outer-shadow);
}

.root_a28985.fullscreenOnMobile__96797 .upsellBanner-1tVKtW {
    cursor: pointer;
    margin-top: 8px;
    padding: 0;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    margin-left: auto;
    box-shadow: var(--btn-outer-shadow);
}

.root_a28985.fullscreenOnMobile__96797 .upsellBanner-1tVKtW svg.white-2rWWmN {
    height: 16px;
    width: 22px;
}

.root_a28985.fullscreenOnMobile__96797 .upsellBanner-1tVKtW>.iconTextContainer-Z3gitj .upsellText-3mrdFJ {
    position: absolute;
    color: var(--text-normal);
    transform: translateX(-216px);
    width: fit-content;
}

.root_a28985.fullscreenOnMobile__96797 .upsellBanner-1tVKtW>.whiteTextLink-2_hsDw {
    position: absolute;
    color: var(--text-normal);
    transform: translateX(-64px);
    width: fit-content;
}