.chat__52833 .content__1a4fe .chat__52833 {
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.search__4a09e {
    background-color: transparent;
    box-shadow: var(--background-secondary-box-shadow-border-a);
}

.channelRow__96673 {
    border-left: var(--background-primary-border);
    border-right: var(--background-primary-border);
    justify-content: start;
}

.channelRow__96673.firstChannel__94f31 {
    border-top: var(--background-primary-border);
}

.lastChannel__129f1 {
    border-bottom: var(--background-primary-border);
}

.categoryRow_df4323 .categoryText__3348f {
    text-transform: capitalize;
    font-family: var(--font-display);
}

.channelText_de4e73 {
    color: var(--header-primary) !important;
}

.channelSubtitle__671b9,
.topic__42290 {
    color: var(--header-secondary);
}

.channelActions__39164 {
    order: -1;
    flex-direction: row-reverse;
    min-width: 123px;
}

.viewChannelButton_ee7ff6 {
    margin-left: 16px;
    display: none;
}