.chat__52833 .content__01e65 .chat__52833 {
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.search__4a09e {
    background-color: transparent;
    box-shadow: var(--background-secondary-box-shadow-border-a);
}

.channelRow__538ef {
    border-left: var(--background-primary-border);
    border-right: var(--background-primary-border);
    justify-content: start;
}

.channelRow__538ef.firstChannel_c06b53 {
    border-top: var(--background-primary-border);
}

.lastChannel__0a967 {
    border-bottom: var(--background-primary-border);
}

.categoryRow__8a080 .categoryText_b2688c {
    text-transform: capitalize;
    font-family: var(--font-display);
}

.channelText__3a877 {
    color: var(--header-primary) !important;
}

.channelSubtitle__298a0,
.topic__42290 {
    color: var(--header-secondary);
}

.channelActions__04de2 {
    order: -1;
    flex-direction: row-reverse;
    min-width: 123px;
}

.viewChannelButton_d2fdbe {
    margin-left: 16px;
    display: none;
}
