.callContainer-HtHELf {
    background: var(--background-tertiary-a);
}

.theme-light .callContainer-HtHELf {
    background: hsla(var(--background-accent-hue), var(--window-accent-tint-strength, 5%), var(--background-tertiary-l), var(--window-opacity));
}

.wrapper-1gVUIN.minimum-fXpVNc .callContainer-HtHELf {
    background: var(--background-tertiary-a);
}

.wrapper-1gVUIN.noChat-2UYgeE.video-3n15R6 {
    background: transparent;
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: var(--background-tertiary-a);
}

.callContainer-HtHELf .videoControls-353CsJ .gradientTop-1UBZHm,
.callContainer-HtHELf .videoControls-353CsJ .gradientBottom-uB_-4E {
    display: none;
}

.callContainer-HtHELf .tile-2TcwiO {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2)
}

.callContainer-HtHELf .background-L8lGH6 {
    background: radial-gradient(transparent, hsla(340, 0%, 14%, 0.4));
}

.callContainer-HtHELf .tile-2TcwiO .avatarWrapper-24Rbpj {
    box-shadow: var(--box-shadow-outer-1)
}

.callContainer-HtHELf .controlButton-2PMNom,
.callContainer-HtHELf .controlButton-2PMNom>svg {
    height: 45px;
    width: 45px;
}

.callContainer-HtHELf .contextMenuNub-NuTZ_U {
    width: 13px;
    height: 12px;
}

.callContainer-HtHELf .bottomControls-31YuPK>:first-child {
    flex: 0 1 0% !important;
}

.callContainer-HtHELf .bottomControls-31YuPK .justifyCenter-rrurWZ {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.callContainer-HtHELf .bottomControls-31YuPK .colorable-3rVGna.primaryDark-2UJt1G {
    background: var(--background-primary);
    box-shadow: var(--box-shadow-outer-1);
    border-top: 1px solid var(--background-modifier-accent);
}

.callContainer-HtHELf .bottomControls-31YuPK .colorable-3rVGna.primaryDark-2UJt1G.active-3D763s,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: var(--background-modifier-active);
}

.controlButton-2PMNom .button-ejjZWC {
    border-radius: 50px;
}

.controlButton-2PMNom.button-ejjZWC {
    border-radius: 50px;
}

.tiles-2upzxs .tile-2WNXdk {
    width: 160px;
    height: 160px;
    margin: 4px;
}