.callContainer_cbde45 {
    background: var(--background-tertiary-a);
}

.theme-light .callContainer_cbde45 {
    background: hsla(var(--background-accent-hue), var(--window-accent-tint-strength, 5%), var(--background-tertiary-l), var(--window-opacity));
}

.wrapper_bd2abe.minimum_ebf000 .callContainer_cbde45 {
    background: var(--background-tertiary-a);
}

.wrapper_bd2abe.noChat_ce920d.video__85ac2 {
    background: transparent;
}

.wrapper_bd2abe.minimum_ebf000 {
    background-color: var(--background-tertiary-a);
}

.callContainer_cbde45 .videoControls__40f61 .gradientTop__8dcff,
.callContainer_cbde45 .videoControls__40f61 .gradientBottom__19035 {
    display: none;
}

.callContainer_cbde45 .tile_a411a4 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2)
}

.callContainer_cbde45 .background__3b30f {
    background: radial-gradient(transparent, hsla(340, 0%, 14%, 0.4));
}

.callContainer_cbde45 .tile_a411a4 .avatarWrapper__76c62 {
    box-shadow: var(--box-shadow-outer-1)
}

.callContainer_cbde45 .controlButton_ab2899,
.callContainer_cbde45 .controlButton_ab2899>svg {
    height: 45px;
    width: 45px;
}

.callContainer_cbde45 .contextMenuNub__7c02f {
    width: 13px;
    height: 12px;
}

.callContainer_cbde45 .bottomControls__8bd89>:first-child {
    flex: 0 1 0% !important;
}

.callContainer_cbde45 .bottomControls__8bd89 .justifyCenter__4080c {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.callContainer_cbde45 .bottomControls__8bd89 .colorable_c84c4c.primaryDark__6b700 {
    background: var(--background-primary);
    box-shadow: var(--box-shadow-outer-1);
    border-top: 1px solid var(--background-modifier-accent);
}

.callContainer_cbde45 .bottomControls__8bd89 .colorable_c84c4c.primaryDark__6b700.active_ff29dc,
.colorable_c84c4c.primaryDark__6b700:hover {
    background: var(--background-modifier-active);
}

.controlButton_ab2899 .button_afdfd9 {
    border-radius: 50px;
}

.controlButton_ab2899.button_afdfd9 {
    border-radius: 50px;
}

.tiles_a1de12 .tile__0cc6f {
    width: 160px;
    height: 160px;
    margin: 4px;
}