.callContainer_d880dc {
    background: var(--background-tertiary-a);
}

.theme-light .callContainer_d880dc {
    background: hsla(var(--background-accent-hue), var(--window-accent-tint-strength, 5%), var(--background-tertiary-l), var(--window-opacity));
}

.wrapper_d880dc.minimum_d880dc .callContainer_d880dc {
    background: var(--background-tertiary-a);
}

.wrapper_d880dc.noChat_d880dc.video_d880dc {
    background: transparent;
}

.wrapper_d880dc.minimum_d880dc {
    background-color: var(--background-tertiary-a);
}

.callContainer_d880dc .videoControls_dd069c .gradientTop_dd069c,
.callContainer_d880dc .videoControls_dd069c .gradientBottom_dd069c {
    display: none;
}

.callContainer_d880dc .tile_dc5fc4 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2)
}

.callContainer_d880dc .background_f3801e {
    background: radial-gradient(transparent, hsla(340, 0%, 14%, 0.4));
}

.callContainer_d880dc .tile_dc5fc4 .avatarWrapper_f3801e {
    box-shadow: var(--box-shadow-outer-1)
}

.callContainer_d880dc .controlButton_b6e2f9,
.callContainer_d880dc .controlButton_b6e2f9>svg {
    height: 45px;
    width: 45px;
}

.callContainer_d880dc .contextMenuNub_ef18ee {
    width: 13px;
    height: 12px;
}

.callContainer_d880dc .bottomControls_dd069c>:first-child {
    flex: 0 1 0% !important;
}

.callContainer_d880dc .bottomControls_dd069c .justifyCenter_ec1a20 {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}

.callContainer_d880dc .bottomControls_dd069c .colorable_ef18ee.primaryDark_ef18ee {
    background: var(--background-primary);
    box-shadow: var(--box-shadow-outer-1);
    border-top: 1px solid var(--background-modifier-accent);
}

.callContainer_d880dc .bottomControls_dd069c .colorable_ef18ee.primaryDark_ef18ee.active_ef18ee,
.colorable_ef18ee.primaryDark_ef18ee:hover {
    background: var(--background-modifier-active);
}

.controlButton_b6e2f9 .button_dd4f85 {
    border-radius: 50px;
}

.controlButton_b6e2f9.button_dd4f85 {
    border-radius: 50px;
}

.tiles_f2bd71 .tile_f2bd71 {
    width: 160px;
    height: 160px;
    margin: 4px;
}
