/* Discord added this :D */
/* .container__694a1 .embedWrapper__47b23:not(.markup_a7e664, .galleryImage_c684f7),
.container__694a1 .embedWrapper__47b23 .embedVideo__303fe,
.container__694a1 .wrapper_f09ac7 {
    height: auto !important;
    width: unset !important;
    max-width: max-content !important;
    max-height: 300px;
}

.container__694a1 .embedWrapper__47b23 .clickableWrapper__2d2ea img:not(.embedGalleryImageElement__00516),
.container__694a1 .embedWrapper__47b23 [data-fullscreen="false"] video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100% !important;
    max-height: 300px;
}

.thin_b1c063 .embedWrapper__47b23:not(.markup_a7e664, .galleryImage_c684f7),
.thin_b1c063 .embedWrapper__47b23 .embedVideo__303fe,
.thin_b1c063 .wrapper_f09ac7 {
    height: auto !important;
    width: unset !important;
    max-width: max-content !important;
    max-height: 300px;
}

.thin_b1c063 .embedWrapper__47b23 .clickableWrapper__2d2ea img:not(.embedGalleryImageElement__00516),
.thin_b1c063 .embedWrapper__47b23 [data-fullscreen="false"] video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100% !important;
    max-height: 300px;
} */

.container__694a1 .embedSpotify__13fe9.embedWrapper__47b23,
.thin_b1c063 .embedSpotify__13fe9.embedWrapper__47b23 {
    max-height: 80px;
}

.wrapper__6bf2d.noChat_ce920d.video__004a2.chatSidebarOpen_f2e544 {
    background-color: transparent;
}

.chatTarget_f14a03.floating__8f631 {
    background-color: transparent
}

.chatTarget_f14a03.container__694a1+.resizeHandle_cc9d34 {
    width: 0;
    z-index: 1;
}

.chatTarget_f14a03.container__694a1+.resizeHandle_cc9d34::before {
    content: "";
    height: 100%;
    width: 5px;
    display: block;
}

.container__694a1 {
    -webkit-filter: none;
    filter: none;
    border-radius: 0 var(--window-border-radius-calc) var(--window-border-radius-calc) 0;
    overflow: hidden;
    background: var(--background-floating-60a);
    border-left: var(--background-tertiary-border);
    backdrop-filter: blur(var(--background-floating-blur-calc));
}

.container__694a1.floating__8f631::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 0 var(--window-border-radius-calc) var(--window-border-radius-calc) 0;
}

.chat__52833.threadSidebarOpen__62c31~div .container__694a1,
.chat__52833.threadSidebarOpen__62c31~.container__694a1 {
    border-top: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
}

#app-mount .chat__52833.threadSidebarOpen__62c31:not(.threadSidebarFloating__4f63d) {
    border-radius: var(--window-border-radius-calc) 0 0 var(--window-border-radius-calc);
    border-right: 0;
}

.chat__52833.threadSidebarOpen__62c31.threadSidebarFloating__4f63d {
    border-radius: var(--window-border-radius-calc);
}

.wrapper__6bf2d.chatSidebarOpen_f2e544 .callContainer__1477d {
    border-radius: 0;
}

.container__694a1 .container__26baa.themed_b152d4 {
    background-color: transparent;
}

.container__694a1 .chat__1d65d:before {
    display: none;
}

.container__694a1 .iconWrapper__8795c {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.container__694a1 .iconWrapper__8795c .icon__09787 {
    color: var(--interactive-active);
}

.container__694a1 .form_d8a4a1 {
    border-top: thin solid transparent;
}

.chatHeaderBar__9e6ac {
    background-color: var(--background-floating);
    box-shadow: var(--elevation-medium);
    border-bottom: var(--background-primary-border);
}

.box_dd6d91 {
    background-color: transparent;
    margin-top: 8px;
    padding-left: 0;
    display: none;
}

.chatHeaderBar__9e6ac.narrow__77960 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chatHeaderBar__9e6ac.narrow__77960 .chatHeaderBarButton_aac432.button__581d0 {
    height: unset;
    min-height: unset;
}

.container__38f29 .heading-xxl-medium-1hl0GL,
.container__38f29 .heading-xxl-normal-3zbV4t {
    font-family: var(--font-display);
    font-size: 20px;
    line-height: 24px;
}

.iconWrapper_a8f659 {
    margin-top: 0;
    background-color: transparent;
}

.container__38f29 .tags__3a78e {
    padding: 0 4px 4px 4px;
}
