/* Discord added this :D */
/* .container_def45c .embedWrapper_c143d9:not(.markup_a7e664, .galleryImage__0b906),
.container_def45c .embedWrapper_c143d9 .embedVideo__0c65b,
.container_def45c .wrapper__3a7a0 {
    height: auto !important;
    width: unset !important;
    max-width: max-content !important;
    max-height: 300px;
}

.container_def45c .embedWrapper_c143d9 .clickableWrapper__64072 img:not(.embedGalleryImageElement_e679aa),
.container_def45c .embedWrapper_c143d9 [data-fullscreen="false"] video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100% !important;
    max-height: 300px;
}

.thin_b1c063 .embedWrapper_c143d9:not(.markup_a7e664, .galleryImage__0b906),
.thin_b1c063 .embedWrapper_c143d9 .embedVideo__0c65b,
.thin_b1c063 .wrapper__3a7a0 {
    height: auto !important;
    width: unset !important;
    max-width: max-content !important;
    max-height: 300px;
}

.thin_b1c063 .embedWrapper_c143d9 .clickableWrapper__64072 img:not(.embedGalleryImageElement_e679aa),
.thin_b1c063 .embedWrapper_c143d9 [data-fullscreen="false"] video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100% !important;
    max-height: 300px;
} */

.container_def45c .embedSpotify_d58077.embedWrapper_c143d9,
.thin_b1c063 .embedSpotify_d58077.embedWrapper_c143d9 {
    max-height: 80px;
}

.wrapper_bd2abe.noChat_ce920d.video__85ac2.chatSidebarOpen_dfaa6a {
    background-color: transparent;
}

.chatTarget__0ea5e.floating_f021e2 {
    background-color: transparent
}

.chatTarget__0ea5e.container_def45c+.resizeHandle_f1a098 {
    width: 0;
    z-index: 1;
}

.chatTarget__0ea5e.container_def45c+.resizeHandle_f1a098::before {
    content: "";
    height: 100%;
    width: 5px;
    display: block;
}

.container_def45c {
    -webkit-filter: none;
    filter: none;
    border-radius: 0 var(--window-border-radius-calc) var(--window-border-radius-calc) 0;
    overflow: hidden;
    background: var(--background-floating-60a);
    border-left: var(--background-tertiary-border);
    backdrop-filter: blur(var(--background-floating-blur-calc));
}

.container_def45c.floating_f021e2::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 0 var(--window-border-radius-calc) var(--window-border-radius-calc) 0;
}

.chat__52833.threadSidebarOpen_fa231d~div .container_def45c,
.chat__52833.threadSidebarOpen_fa231d~.container_def45c {
    border-top: var(--background-tertiary-border-variable-width-a);
    border-right: var(--background-tertiary-border-variable-width-a);
    border-bottom: var(--background-tertiary-border-variable-width-a);
}

#app-mount .chat__52833.threadSidebarOpen_fa231d:not(.threadSidebarFloating_b980c7) {
    border-radius: var(--window-border-radius-calc) 0 0 var(--window-border-radius-calc);
    border-right: 0;
}

.chat__52833.threadSidebarOpen_fa231d.threadSidebarFloating_b980c7 {
    border-radius: var(--window-border-radius-calc);
}

.wrapper_bd2abe.chatSidebarOpen_dfaa6a .callContainer_cbde45 {
    border-radius: 0;
}

.container_def45c .container__11d72.themed_b152d4 {
    background-color: transparent;
}

.container_def45c .chat__1d65d:before {
    display: none;
}

.container_def45c .iconWrapper__85630 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.container_def45c .iconWrapper__85630 .icon__7ed2b {
    color: var(--interactive-active);
}

.container_def45c .form__13a2c {
    border-top: thin solid transparent;
}

.chatHeaderBar_c1df53 {
    background-color: var(--background-floating);
    box-shadow: var(--elevation-medium);
    border-bottom: var(--background-primary-border);
}

.box_dd6d91 {
    background-color: transparent;
    margin-top: 8px;
    padding-left: 0;
    display: none;
}

.chatHeaderBar_c1df53.narrow__77960 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chatHeaderBar_c1df53.narrow__77960 .chatHeaderBarButton__161bb.button_afdfd9 {
    height: unset;
    min-height: unset;
}

.container__404b9 .heading-xxl-medium-1hl0GL,
.container__404b9 .heading-xxl-normal-3zbV4t {
    font-family: var(--font-display);
    font-size: 20px;
    line-height: 24px;
}

.iconWrapper__3e4a9 {
    margin-top: 0;
    background-color: transparent;
}

.container__404b9 .tags__3a78e {
    padding: 0 4px 4px 4px;
}