.mainCard__8a660 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
}

#app-mount .container-3wLKDe {
    background-color: transparent;
}

.mainCard__8a660 .container-JhuCwn.collapsed-23aTv6 {
    cursor: unset;
}

.mainCard__8a660.header-1Uy0p6:hover:not(.headerBorder-jrk0Ic) {
    border: var(--background-primary-border);
}

.mainCard__8a660 form .title-1v5ZfI {
    font-size: 16px;
    line-height: 26px;
    padding-left: 6px;
}

.mainCard__8a660 form .title-1v5ZfI::placeholder {
    font-size: 16px !important;
    line-height: 26px;
    padding-left: 6px;
}

.mainCard__8a660 form .uploadInput-3fblkw {
    position: relative;
    width: 78px;
    height: 78px;
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
    border-radius: 12px;
}

.mainCard__8a660 form .upload_c98ecb {
    background-color: var(--background-primary);
    border-radius: 12px;
    box-shadow: none;
}

.mainCard__8a660 form .popout-2vZMlk {
    height: fit-content;
    padding-bottom: 0px;
}

.mainCard__8a660 form .titleContainer-2YK93J .input_d266e7 {
    border: var(--background-primary-border);
}

.card-2JNtco .postTitleText-2ARr84 {
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 20px;
}

.hasUnreads-3kKLnS:before {
    position: absolute;
    top: 4px;
    height: 6px;
    width: 6px;
    margin-left: 4px;
    border-radius: 50%;
}

.reaction_fef95b {
    border-radius: 6px;
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-3);
}

.reaction_fef95b.reactionMe__98f57 {
    background: var(--button-brand-gradient);
    border: 1px solid transparent;
    border-top-color: var(--brand-experiment-460);
}

.authorContainer-3m1uzW .text-md-normal__6a4eb {
    font-weight: 600;
}

.channelTextArea-3xG1BQ {
    margin-top: 4px;
    border-radius: 8px;
    background-color: var(--background-secondary);
    padding: 8px;
    border: var(--background-primary-border);
    width: calc(100% - 16px - 14px);
}

.channelTextArea-3xG1BQ,
.channelTextAreaInner-2_mflx {
    min-height: 44px;
}

.channelTextArea-3xG1BQ .scrollableContainer__33e06 {
    box-shadow: none;
}

.mainCard__8a660 form .tagList-2APRrt {
    padding-bottom: 4px;
}

.pill_f055c3 {
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-3);
    height: 32px;
}

#app-mount .pill_f055c3.selected_dc72d1 {
    border-color: var(--text-positive);
    background-color: var(--button-positive-background)
}

#app-mount .pill_f055c3.selected_dc72d1:not(.disabled__70fda):hover {
    background-color: var(--button-positive-background-hover)
}

#app-mount .pill_f055c3.selected_dc72d1 .defaultColor-24IHKz {
    color: #fff;
}

#app-mount .tagsContainer-2bBw1x .sortDropdown-hY93nR,
#app-mount .tagsContainer-2bBw1x .tagsButton-4pwOKH {
    background-color: transparent;
    box-shadow: none;
}

.tagsContainer-2bBw1x .sortDropdown-hY93nR .sort-37NWdz svg {
    margin-left: 0;
}

.tagsContainer-2bBw1x .sortDropdown-hY93nR .select__0eb48 .icons-2dXYop {
    margin-left: 4px;
    border-radius: 4px;
}

.container_d27846 .item__287de:hover:not(.disabled-Mmpvl7) .text-md-semibold-3xVVGu {
    color: var(--interactive-active) !important;
}

.form-25Aujy .mediaButton-3lZSdn {
    border: var(--background-primary-border);
}

#app-mount .reaction_fef95b.reactionMe__98f57 .reactionCount_b49901 {
    color: #fff;
}

.container-3wLKDe .sortContainer-33Xf0u {
    align-items: center;
}

.container-3wLKDe .sortContainer-33Xf0u .value-26hJ01 {
    margin-right: 8px;
}

.body-hCVwsC.hasUnreads-3kKLnS .text-sm-medium_bc6ffc {
    color: var(--interactive-normal) !important;
}

.container-3kfp0r {
    border-radius: 8px;
    background-color: var(--background-floating);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.container__8ee50 {
    margin: 0 0 0 4px;
    border-radius: 8px;
    background-color: var(--background-floating);
    border-top: none;
    box-shadow: var(--elevation-medium);
    border: var(--background-primary-border);
    width: fit-content;
    margin-left: auto;
}

.container__8ee50.header_ca85b3 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.container__8ee50+.divider_ffec75 {
    display: none;
}

.addReactButton__59750 {
    background-color: transparent;
    border: none;
    margin-right: 4px;
}

.buttonInner__2771e {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-3);
}

.tagsContainer-2bBw1x .tagsButton-4pwOKH {
    background: none;
    box-shadow: none;
}

.tagsContainer-2bBw1x .tagList-1CiR0h {
    padding-bottom: 4px;
}

.tagsContainer-2bBw1x .sortDropdown-hY93nR,
.tagsContainer-2bBw1x .tagsButton-4pwOKH {
    margin-bottom: 4px;
}

/* 6.11 Browse Channels */
.chat__52833 .content__1a4fe .chat__52833 {
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.search__4a09e {
    background-color: transparent;
    box-shadow: var(--background-secondary-box-shadow-border-a);
}

.channelRow__96673 {
    border-left: var(--background-primary-border);
    border-right: var(--background-primary-border);
    justify-content: start;
}

.channelRow__96673.firstChannel__94f31 {
    border-top: var(--background-primary-border);
}

.lastChannel__129f1 {
    border-bottom: var(--background-primary-border);
}

.categoryRow_df4323 .categoryText__3348f {
    text-transform: capitalize;
    font-family: var(--font-display);
}

.channelText_de4e73 {
    color: var(--header-primary) !important;
}

.channelSubtitle__671b9,
.topic__42290 {
    color: var(--header-secondary);
}

.channelActions__39164 {
    order: -1;
    flex-direction: row-reverse;
    min-width: 123px;
}

.viewChannelButton_ee7ff6 {
    margin-left: 16px;
    display: none;
}