.mainCard_a6d69a {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
}

#app-mount .container-3wLKDe {
    background-color: transparent;
}

.mainCard_a6d69a .container-JhuCwn.collapsed-23aTv6 {
    cursor: unset;
}

.mainCard_a6d69a.header-1Uy0p6:hover:not(.headerBorder-jrk0Ic) {
    border: var(--background-primary-border);
}

.mainCard_a6d69a form .title-1v5ZfI {
    font-size: 16px;
    line-height: 26px;
    padding-left: 6px;
}

.mainCard_a6d69a form .title-1v5ZfI::placeholder {
    font-size: 16px !important;
    line-height: 26px;
    padding-left: 6px;
}

.mainCard_a6d69a form .uploadInput-3fblkw {
    position: relative;
    width: 78px;
    height: 78px;
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
    border-radius: 12px;
}

.mainCard_a6d69a form .upload_df1eaf {
    background-color: var(--background-primary);
    border-radius: 12px;
    box-shadow: none;
}

.mainCard_a6d69a form .popout-2vZMlk {
    height: fit-content;
    padding-bottom: 0px;
}

.mainCard_a6d69a form .titleContainer-2YK93J .input_f8bc55 {
    border: var(--background-primary-border);
}

.card-2JNtco .postTitleText-2ARr84 {
    font-family: var(--font-display);
    font-size: 16px;
    line-height: 20px;
}

.hasUnreads-3kKLnS:before {
    position: absolute;
    top: 4px;
    height: 6px;
    width: 6px;
    margin-left: 4px;
    border-radius: 50%;
}

.reaction_ec6b19 {
    border-radius: 6px;
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-3);
}

.reaction_ec6b19.reactionMe_ec6b19 {
    background: var(--button-brand-gradient);
    border: 1px solid transparent;
    border-top-color: var(--brand-experiment-460);
}

.authorContainer-3m1uzW .text-md-normal__6a4eb {
    font-weight: 600;
}

.channelTextArea-3xG1BQ {
    margin-top: 4px;
    border-radius: 8px;
    background-color: var(--background-secondary);
    padding: 8px;
    border: var(--background-primary-border);
    width: calc(100% - 16px - 14px);
}

.channelTextArea-3xG1BQ,
.channelTextAreaInner-2_mflx {
    min-height: 44px;
}

.channelTextArea-3xG1BQ .scrollableContainer_d0696b {
    box-shadow: none;
}

.mainCard_a6d69a form .tagList-2APRrt {
    padding-bottom: 4px;
}

.pill_c993da {
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
    border-radius: 20px;
    box-shadow: var(--box-shadow-outer-3);
    height: 32px;
    padding: 0 12px;
}

#app-mount .pill_c993da.selected_c993da {
    border-color: var(--text-positive);
    background-color: var(--button-positive-background)
}

#app-mount .pill_c993da.selected_c993da:not(.disabled_c993da):hover {
    background-color: var(--button-positive-background-hover)
}

#app-mount .pill_c993da.selected_c993da .defaultColor-24IHKz {
    color: #fff;
}

#app-mount .tagsContainer-2bBw1x .sortDropdown-hY93nR,
#app-mount .tagsContainer-2bBw1x .tagsButton-4pwOKH {
    background-color: transparent;
    box-shadow: none;
}

.tagsContainer-2bBw1x .sortDropdown-hY93nR .sort-37NWdz svg {
    margin-left: 0;
}

.tagsContainer-2bBw1x .sortDropdown-hY93nR .select_f6639d .icons-2dXYop {
    margin-left: 4px;
    border-radius: 4px;
}

.container_ac201b .item_eef3ef:hover:not(.disabled-Mmpvl7) .text-md-semibold-3xVVGu {
    color: var(--interactive-active) !important;
}

.form-25Aujy .mediaButton-3lZSdn {
    border: var(--background-primary-border);
}

#app-mount .reaction_ec6b19.reactionMe_ec6b19 .reactionCount_ec6b19 {
    color: #fff;
}

.container-3wLKDe .sortContainer-33Xf0u {
    align-items: center;
}

.container-3wLKDe .sortContainer-33Xf0u .value-26hJ01 {
    margin-right: 8px;
}

.body-hCVwsC.hasUnreads-3kKLnS .text-sm-medium_bc6ffc {
    color: var(--interactive-normal) !important;
}

.container-3kfp0r {
    border-radius: 8px;
    background-color: var(--background-floating);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.container_b385c8 {
    margin: 0 0 0 4px;
    border-radius: 8px;
    background-color: var(--background-floating);
    border-top: none;
    box-shadow: var(--elevation-medium);
    border: var(--background-primary-border);
    width: fit-content;
    margin-left: auto;
}

.container_b385c8.header_b385c8 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.container_b385c8+.divider_af45f8 {
    display: none;
}

.addReactButton_b385c8 {
    background-color: transparent;
    border: none;
    margin-right: 4px;
}

.buttonInner_b385c8 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-3);
}

.tagsContainer-2bBw1x .tagsButton-4pwOKH {
    background: none;
    box-shadow: none;
}

.tagsContainer-2bBw1x .tagList-1CiR0h {
    padding-bottom: 4px;
}

.tagsContainer-2bBw1x .sortDropdown-hY93nR,
.tagsContainer-2bBw1x .tagsButton-4pwOKH {
    margin-bottom: 4px;
}

/* 6.11 Browse Channels */
.chat_a7d72e .content_a7d72e .chat_a7d72e {
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.search_c2efea {
    background-color: transparent;
    box-shadow: var(--background-secondary-box-shadow-border-a);
}

.channelRow_f04d06 {
    border-left: var(--background-primary-border);
    border-right: var(--background-primary-border);
    justify-content: start;
}

.channelRow_f04d06.firstChannel_f04d06 {
    border-top: var(--background-primary-border);
}

.lastChannel_f04d06 {
    border-bottom: var(--background-primary-border);
}

.categoryRow_f04d06 .categoryText_f04d06 {
    text-transform: capitalize;
    font-family: var(--font-display);
}

.channelText_f04d06 {
    color: var(--header-primary) !important;
}

.channelSubtitle_f04d06,
.topic_f04d06 {
    color: var(--header-secondary);
}

.channelActions_f04d06 {
    order: -1;
    flex-direction: row-reverse;
    min-width: 123px;
}

.viewChannelButton_f04d06 {
    margin-left: 16px;
    display: none;
}
