.members_cbd271,
.member_cbd271,
.members_cbd271>div,
.container_cbd271 {
    background-color: transparent;
}

.membersWrap_cbd271 {
    min-width: auto;
    min-height: 100%;
    flex-basis: var(--members-width);
}

.members_cbd271 {
    width: var(--members-width);
}

.member_a31c43 {
    max-width: var(--members-width);
}
