.members__9f47b,
.member_b44d5d,
.members__9f47b>div,
.container_b2ce9c {
    background-color: transparent;
}

.membersWrap__90226 {
    min-width: auto;
    min-height: 100%;
    flex-basis: var(--members-width);
}

.members__9f47b {
    width: var(--members-width);
}

.member_aa4760 {
    max-width: var(--members-width);
}