.members-3WRCEx,
.member-48YF_l,
.members-3WRCEx>div,
.container-2o3qEW {
    background-color: transparent;
}

.membersWrap-3NUR2t {
    min-width: auto;
    min-height: 100%;
    flex-basis: var(--members-width);
}

.members-3WRCEx {
    width: var(--members-width);
}

.member-2gU6Ar {
    max-width: var(--members-width);
}