.barBase_cf58b5 {
    left: unset;
}

.jumpToPresentBar_cf58b5,
.newMessagesBar_cf58b5 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.jumpToPresentBar_cf58b5 .barButtonBase_cf58b5 {
    color: var(--header-primary);
}

.scrollerSpacer_e2e187 {
    height: 20px;
}

/* 6.2.1. Message */
.wrapper_ef319f {
    border: var(--background-primary-border);
    border-radius: 8px;
}

.reaction_f61c73 {
    border-radius: 6px;
    box-shadow: var(--box-shadow-outer-3);
}

.reaction_f61c73:not(.reactionMe_f61c73) {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.reaction_f61c73:not(.reactionMe_f61c73):hover {
    background-color: var(--background-secondary);
}

.reaction_f61c73.reactionMe_f61c73 {
    background: var(--button-brand-gradient);
    border: 1px solid transparent;
    border-top-color: var(--brand-experiment-460);
}

#app-mount .reaction_f61c73.reactionMe_f61c73 .reactionCount_f61c73 {
    color: #fff;
}

code {
    font-family: var(--font-code);
}

.markup_d6076c code {
    background: none;
    border: none;
}

.markup_d6076c pre {
    background: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
    overflow: hidden;
}

.markup_d6076c code.inline {
    background: var(--background-primary);
    padding-top: 1px;
    padding-bottom: 1px;
    border: var(--background-primary-border);
}

.before_inlineCode_cdb578,
.after_inlineCode_cdb578,
.inlineCode_cdb578 {
    border-top: var(--background-primary-border);
    border-bottom: var(--background-primary-border);
    padding-top: 1px;
    padding-bottom: 1px;
}

.before_inlineCode_cdb578 {
    border-left: var(--background-primary-border);
}

.after_inlineCode_cdb578 {
    border-right: var(--background-primary-border);
}

/* Blocked messages */
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea)>.wrapper_ec86aa {
    padding: 0 0 0 16px
}

.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea)>.wrapper_ec86aa.compact_ec86aa {
    padding: 0 0 0 108px
}

.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea) {
    margin: 0
}

.scrollerInner_e2e187>.groupStart_d5deea.expanded_c09d0f:not(.backgroundFlash_d5deea) {
    background-color: var(--info-danger-background)
}

.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea) .messageListItem_d5deea .groupStart_d5deea,
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea, .expanded_c09d0f)+.messageListItem_d5deea .groupStart_d5deea {
    margin-top: 0
}

.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea) .messageListItem_d5deea {
    opacity: .5
}

.blockedSystemMessage_c09d0f .iconContainer_e62b38 {
    display: none
}

.blockedMessageText_c09d0f {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted)
}

.blockedMessageText_c09d0f:hover {
    text-decoration: underline
}

.blockedMessageText_c09d0f:hover,
.groupStart_d5deea.expanded_c09d0f .blockedMessageText_c09d0f {
    color: var(--info-danger-foreground)
}

.blockedAction_c09d0f {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.blockedMessageText_c09d0f:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 14px;
    pointer-events: none;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

/* 6.2.2. Embeds */
.wrapper_f316dd.embedWrapper_b558d0 {
    border: var(--background-primary-border);
    border-radius: 8px;
    overflow: hidden;
}

.attachment_a4623d {
    border: var(--background-primary-border);
    border-radius: 8px;
}

.embedWrapper_b558d0.container_ad9cbd .textContainer_ad9cbd {
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
    border-radius: 8px 8px 0 0;
    box-shadow: var(--box-shadow-outer-2);
}

.embedWrapper_b558d0.container_ad9cbd .footer_ad9cbd {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-top: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: var(--box-shadow-outer-2);
}

#app-mount .wrapperAudio_f316dd {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
}

#app-mount .invite_cdcad9 {
    background: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
    box-shadow: var(--box-shadow-outer-2);
}

.audioControls_f316dd {
    border-radius: 6px;
}

.embed_ad0b71 {
    border-radius: 8px;
}

.embedFull_ad0b71 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.footer_ad9cbd {
    background-color: var(--background-primary);
}

.container_c15230 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
    border-radius: 8px;
}

.embedCard_c6cefd {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-2);
}

.videoControls_f316dd {
    flex-wrap: wrap;
    width: 80%;
    height: 10%;
    min-height: 30px;
    max-width: 90vh;
    max-height: 6vh;
    bottom: 4%;
    padding-bottom: 14px;
    margin: 0 auto;
    border-radius: 8px;
    backdrop-filter: blur(calc(12px * var(--enable-blur)));
}

.wrapperControlsHidden_f316dd .videoControls_f316dd {
    bottom: 0;
}

.videoControls_f316dd .durationTimeWrapper_f316dd {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    left: 8px;
    margin-top: 42px;
}

.videoControls_f316dd .durationTimeSeparator_f316dd {
    display: none;
}

.videoControls_f316dd>div:nth-child(1) {
    margin: 0 auto;
}

.videoControls_f316dd .horizontal_f7877e {
    order: 1;
    padding: 0 1vh;
}

.videoControls_f316dd .durationTimeWrapper_f316dd+.horizontal_f7877e {
    padding: 0 5vh;
}

.videoControls_f316dd .flex_ec1a20 {
    order: -2;
}

.videoControls_f316dd #Loop {
    order: -1;
}

.metadata__7bef0 {
    pointer-events: none;
}

.metadataDownload_f316dd {
    pointer-events: auto;
}

/* 6.2.3. Nitrogift */
#app-mount .tile_ab47a1 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
    border-radius: 8px;
}

/* 6.2.4. Invite */
.wrapper_b9fe76 {
    --background-secondary-alt: var(--background-primary);
    --background-tertiary: var(--background-secondary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.wrapper_b9fe76 .button_b9fe76 {
    background-color: var(--button-selected-background);
}
