.barBase__4e0ba {
    left: unset;
}

.jumpToPresentBar__0ff7f,
.newMessagesBar__8b6d7 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.jumpToPresentBar__0ff7f .barButtonBase__8fa46 {
    color: var(--header-primary);
}

.scrollerSpacer__9cd32 {
    height: 20px;
}

/* 6.2.1. Message */
.wrapper_c727b6 {
    border: var(--background-primary-border);
    border-radius: 8px;
}

.reaction_b90ab0 {
    border-radius: 6px;
    box-shadow: var(--box-shadow-outer-3);
}

.reaction_b90ab0:not(.reactionMe_bf6909) {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
}

.reaction_b90ab0:not(.reactionMe_bf6909):hover {
    background-color: var(--background-secondary);
}

.reaction_b90ab0.reactionMe_bf6909 {
    background: var(--button-brand-gradient);
    border: 1px solid transparent;
    border-top-color: var(--brand-experiment-460);
}

#app-mount .reaction_b90ab0.reactionMe_bf6909 .reactionCount__60448 {
    color: #fff;
}

code {
    font-family: var(--font-code);
}

.markup_a7e664 code {
    background: none;
    border: none;
}

.markup_a7e664 pre {
    background: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
    overflow: hidden;
}

.markup_a7e664 code.inline {
    background: var(--background-primary);
    padding-top: 1px;
    padding-bottom: 1px;
    border: var(--background-primary-border);
}

.before_inlineCode__37e14,
.after_inlineCode__2197d,
.inlineCode_d702a4 {
    border-top: var(--background-primary-border);
    border-bottom: var(--background-primary-border);
    padding-top: 1px;
    padding-bottom: 1px;
}

.before_inlineCode__37e14 {
    border-left: var(--background-primary-border);
}

.after_inlineCode__2197d {
    border-right: var(--background-primary-border);
}

/* Blocked messages */
.scrollerInner__059a5>.groupStart__56db5:not(.backgroundFlash_e5b9ad)>.wrapper__09ecc {
    padding: 0 0 0 16px
}

.scrollerInner__059a5>.groupStart__56db5:not(.backgroundFlash_e5b9ad)>.wrapper__09ecc.compact__54ecc {
    padding: 0 0 0 108px
}

.scrollerInner__059a5>.groupStart__56db5:not(.backgroundFlash_e5b9ad) {
    margin: 0
}

.scrollerInner__059a5>.groupStart__56db5.expanded_be53d7:not(.backgroundFlash_e5b9ad) {
    background-color: var(--info-danger-background)
}

.scrollerInner__059a5>.groupStart__56db5:not(.backgroundFlash_e5b9ad) .messageListItem__6a4fb .groupStart__56db5,
.scrollerInner__059a5>.groupStart__56db5:not(.backgroundFlash_e5b9ad, .expanded_be53d7)+.messageListItem__6a4fb .groupStart__56db5 {
    margin-top: 0
}

.scrollerInner__059a5>.groupStart__56db5:not(.backgroundFlash_e5b9ad) .messageListItem__6a4fb {
    opacity: .5
}

.blockedSystemMessage_e58a4c .iconContainer_dfc268 {
    display: none
}

.blockedMessageText__57d64 {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted)
}

.blockedMessageText__57d64:hover {
    text-decoration: underline
}

.blockedMessageText__57d64:hover,
.groupStart__56db5.expanded_be53d7 .blockedMessageText__57d64 {
    color: var(--info-danger-foreground)
}

.blockedAction__27053 {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.blockedMessageText__57d64:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 14px;
    pointer-events: none;
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

/* 6.2.2. Embeds */
.wrapper__3a7a0.embedWrapper_c143d9 {
    border: var(--background-primary-border);
    border-radius: 8px;
    overflow: hidden;
}

.attachment_f3cf2c {
    border: var(--background-primary-border);
    border-radius: 8px;
}

.embedWrapper_c143d9.container__8cab3 .textContainer__709ff {
    background-color: var(--background-secondary);
    border: var(--background-primary-border);
    border-radius: 8px 8px 0 0;
    box-shadow: var(--box-shadow-outer-2);
}

.embedWrapper_c143d9.container__8cab3 .footer__06f4b {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    border-top: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: var(--box-shadow-outer-2);
}

#app-mount .wrapperAudio__555ce {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
}

#app-mount .invite__2a93b {
    background: var(--background-primary);
    border: var(--background-primary-border);
    border-radius: 8px;
    box-shadow: var(--box-shadow-outer-2);
}

.audioControls__9fbe9 {
    border-radius: 6px;
}

.embed_d3cbe3 {
    border-radius: 8px;
}

.embedFull__8dc21 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.footer__06f4b {
    background-color: var(--background-primary);
}

.container__767d1 {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
    border-radius: 8px;
}

.embedCard__66fca {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    box-shadow: var(--box-shadow-outer-2);
}

.videoControls__96149 {
    flex-wrap: wrap;
    width: 80%;
    height: 10%;
    min-height: 30px;
    max-width: 90vh;
    max-height: 6vh;
    bottom: 4%;
    padding-bottom: 14px;
    margin: 0 auto;
    border-radius: 8px;
    backdrop-filter: blur(calc(12px * var(--enable-blur)));
}

.wrapperControlsHidden__143af .videoControls__96149 {
    bottom: 0;
}

.videoControls__96149 .durationTimeWrapper_d1de6b {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    left: 8px;
    margin-top: 42px;
}

.videoControls__96149 .durationTimeSeparator__8b5d8 {
    display: none;
}

.videoControls__96149>div:nth-child(1) {
    margin: 0 auto;
}

.videoControls__96149 .horizontal__3deed {
    order: 1;
    padding: 0 1vh;
}

.videoControls__96149 .durationTimeWrapper_d1de6b+.horizontal__3deed {
    padding: 0 5vh;
}

.videoControls__96149 .flex__909d4 {
    order: -2;
}

.videoControls__96149 #Loop {
    order: -1;
}

.metadata__2d766 {
    pointer-events: none;
}

.metadataDownload__6b32d {
    pointer-events: auto;
}

/* 6.2.3. Nitrogift */
#app-mount .tile_ebc93b {
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
    border-radius: 8px;
}

/* 6.2.4. Invite */
.wrapper_efe67f {
    --background-secondary-alt: var(--background-primary);
    --background-tertiary: var(--background-secondary);
    box-shadow: var(--box-shadow-outer-2);
    border: var(--background-primary-border);
}

.wrapper_efe67f .button__8ec71 {
    background-color: var(--button-selected-background);
}