.searchHeaderTabList-3CZMQB {
    border: var(--background-primary-border-a);
    border-radius: 8px;
    background-color: var(--background-primary-a);
}

.searchHeaderTabList-3CZMQB.side-1lrxIh .item-2GWPIy {
    border-radius: 6px;
    margin: 1px;
    padding: 2px 8px;
    border: 1px solid transparent;
}

.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy,
.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy:hover {
    box-shadow: var(--box-shadow-outer-1);
}

#app-mount .searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy {
    background-color: var(--button-selected-background);
    border-top-color: rgba(255, 255, 255, 0.2);
    box-shadow: var(--box-shadow-outer-1);
}

.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy:hover {
    background-color: var(--button-selected-background);
}

.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3:not(.selected-1sf9UK).item-2GWPIy:hover:not([class*="disabled"]),
.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3:not(.selected-1sf9UK).item-2GWPIy:active:not([class*="disabled"]) {
    background-color: transparent;
}

.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy:active:not([class*="disabled"]) {
    background-color: var(--button-selected-background);
}

.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.item-2GWPIy,
.searchHeaderTabList-3CZMQB.side-1lrxIh .themed-qqoYp3.item-2GWPIy:hover {
    color: var(--interactive-active);
}

.searchResultsWrap-5RVOkx {
    background-color: var(--background-secondary-a);
}

.searchHeader-1r_ZSh {
    background-color: var(--background-accent-a);
    box-shadow: var(--elevation-low-a);
}

.searchResult-O9NDji {
    background-color: var(--background-primary-a);
    border: var(--background-primary-border-a);
}

.searchResultsWrap-5RVOkx .channelName-3w2Y3c {
    background: none;
}

.searchResultsWrap-5RVOkx .container-1-h9mY {
    position: sticky;
    bottom: 0;
    background-color: var(--background-secondary-a);
    z-index: 1;
}

.pageButton-uta6J3:not(.activeButton-2K2Fwx):hover {
    background-color: var(--background-modifier-hover);
}

.pageButton-uta6J3:not(.activeButton-2K2Fwx):active {
    color: var(--interactive-active);
    background-color: var(--background-modifier-active);
}