.container_d27846 {
    width: 250px;
    border-radius: 8px;
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.didRender-2SiRlm>.container_d27846 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.container_d27846 .focused-qp-W9B,
.container_d27846 .item__287de:hover:not(.disabled-Mmpvl7) {
    background-color: var(--brand-experiment);
    color: var(--interactive-active);
}

.container_d27846 .item__287de:hover:not(.disabled-Mmpvl7) {
    color: var(--interactive-active);
}


.container_d27846 .item__287de {
    border-radius: 6px;
    padding: 6px 8px;
    margin-bottom: 4px;
    color: var(--interactive-hover);
}