#app-mount .autocomplete_f23da8 {
    background-color: var(--background-floating);
}

.autocomplete_bea0d0 {
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border-radius: 8px;
}

#app-mount .categoryHeader_fe2299 {
    position: sticky;
    top: 0;
    padding: 0 8px;
    background-color: var(--background-floating);
}

#app-mount .autocomplete_f23da8.outerWrapper_fe2299 {
    padding-top: 0;
    padding-left: 0;
}

.autocomplete_f23da8 .rail_fe2299.wrapper_efd8e6 {
    background-color: transparent;
    border-right: var(--background-primary-border);
}

.autocomplete_f23da8 .rail_fe2299.wrapper_efd8e6+.scroller_dcade6.list_fe2299 {
    margin-top: 8px;
}

.autocomplete_f23da8.outerWrapper_fe2299 {
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.attachedBars_d0696b {
    background: var(--background-floating);
    border-radius: 8px;
    margin-bottom: 10px;
    border: var(--background-primary-border);
    position: absolute;
    left: 0;
    margin-top: -42px;
}

.hasConnectedBar_d0696b {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.replyBar_b11c5e {
    border-radius: 8px;
}

.replyBar_b11c5e {
    background: var(--background-floating);
}

.threadSuggestionBar_b11c5e {
    display: none;
}

.base_f23da8,
.base_f23da8 img {
    border-radius: 5px;
}

.clickable_f23da8[aria-disabled=false]>.base_f23da8:hover,
.clickable_f23da8[aria-selected=true]>.base_f23da8 {
    background-color: var(--brand-experiment);
}

.clickable_f23da8[aria-disabled=false]>.base_f23da8:hover .text-md-normal__6a4eb,
.clickable_f23da8[aria-selected=true]>.base_f23da8 .text-md-normal__6a4eb,
.clickable_f23da8[aria-disabled=false]>.base_f23da8:hover .text-xs-normal_ccc5fb,
.clickable_f23da8[aria-selected=true]>.base_f23da8 .text-xs-normal_ccc5fb {
    color: #fff !important;
}

.clickable_f23da8[aria-disabled=false]>.base_f23da8:hover .icon_c9d951,
.clickable_f23da8[aria-selected=true]>.base_f23da8 .icon_c9d951,
.clickable_f23da8[aria-selected=false]>.base_f23da8:hover .icon_f23da8,
.clickable_f23da8[aria-selected=true]>.base_f23da8 .icon_f23da8 {
    color: #fff;
}

.autocomplete_f23da8 .selected_c9d951,
.autocomplete_f23da8 .selected_c9d951:hover {
    background: var(--brand-experiment);
}

#app-mount .selected_c9d951 .icon_c9d951,
#app-mount .selected_c9d951:hover .icon_c9d951 {
    color: #fff;
}

.clickable_f23da8[aria-selected=true]>.base_f23da8 .colorMuted_fbc755.size14_fb468f.optionalCount_e18e73,
.clickable_f23da8[aria-disabled=false]>.base_f23da8:hover .colorMuted_fbc755.size14_fb468f.optionalCount_e18e73 {
    color: #fff;
}

.theme-light .optionPill_d4df8b,
.theme-dark .optionPill_d4df8b {
    border-color: var(--background-modifier-accent);
}

.optionPill_d4df8b {
    border-radius: 6px;
}

.optionPillKey_d4df8b {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
