#app-mount .autocomplete__743a5 {
    background-color: var(--background-floating);
}

.autocomplete__2e602 {
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border-radius: 8px;
}

#app-mount .categoryHeader__70c8e {
    position: sticky;
    top: 0;
    padding: 0 8px;
    background-color: var(--background-floating);
}

#app-mount .autocomplete__743a5.outerWrapper__99794 {
    padding-top: 0;
    padding-left: 0;
}

.autocomplete__743a5 .rail_ad1aea.wrapper__35c78 {
    background-color: transparent;
    border-right: var(--background-primary-border);
}

.autocomplete__743a5 .rail_ad1aea.wrapper__35c78+.scroller_ac6d1c.list__0870a {
    margin-top: 8px;
}

.autocomplete__743a5.outerWrapper__99794 {
    border-radius: 8px;
    border: var(--background-primary-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    padding: 6px 8px;
}

.attachedBars_c1606a {
    background: var(--background-floating);
    border-radius: 8px;
    margin-bottom: 10px;
    border: var(--background-primary-border);
    position: absolute;
    left: 0;
    margin-top: -42px;
}

.hasConnectedBar__7d21e {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.replyBar_ed6afc {
    border-radius: 8px;
}

.replyBar_ed6afc {
    background: var(--background-floating);
}

.threadSuggestionBar__717a3 {
    display: none;
}

.base__87e58,
.base__87e58 img {
    border-radius: 5px;
}

.clickable__0b25f[aria-disabled=false]>.base__87e58:hover,
.clickable__0b25f[aria-selected=true]>.base__87e58 {
    background-color: var(--brand-experiment);
}

.clickable__0b25f[aria-disabled=false]>.base__87e58:hover .text-md-normal__6a4eb,
.clickable__0b25f[aria-selected=true]>.base__87e58 .text-md-normal__6a4eb,
.clickable__0b25f[aria-disabled=false]>.base__87e58:hover .text-xs-normal_ccc5fb,
.clickable__0b25f[aria-selected=true]>.base__87e58 .text-xs-normal_ccc5fb {
    color: #fff !important;
}

.clickable__0b25f[aria-disabled=false]>.base__87e58:hover .icon__9f010,
.clickable__0b25f[aria-selected=true]>.base__87e58 .icon__9f010,
.clickable__0b25f[aria-selected=false]>.base__87e58:hover .icon_f08b13,
.clickable__0b25f[aria-selected=true]>.base__87e58 .icon_f08b13 {
    color: #fff;
}

.autocomplete__743a5 .selected__46356,
.autocomplete__743a5 .selected__46356:hover {
    background: var(--brand-experiment);
}

#app-mount .selected__46356 .icon__9f010,
#app-mount .selected__46356:hover .icon__9f010 {
    color: #fff;
}

.clickable__0b25f[aria-selected=true]>.base__87e58 .colorMuted__413e9.size14_b2af01.optionalCount__2e126,
.clickable__0b25f[aria-disabled=false]>.base__87e58:hover .colorMuted__413e9.size14_b2af01.optionalCount__2e126 {
    color: #fff;
}

.theme-light .optionPill__618f2,
.theme-dark .optionPill__618f2 {
    border-color: var(--background-modifier-accent);
}

.optionPill__618f2 {
    border-radius: 6px;
}

.optionPillKey__0d1a4 {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
