/* 14.1. Contextmenu */
.menu__088f7 {
    position: relative;
    background-color: var(--background-floating-80a);
    border-radius: 8px;
    border: var(--background-floating-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

[class*="didRender"]>.menu__088f7 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.menu__088f7::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border-radius: 8px;
}

.theme-dark .menu__088f7 .item__183e8[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"]),
.theme-dark .menu__088f7 .item__183e8[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"]) [class^="caret-"] {
    color: var(--interactive-hover);
}

.theme-light .menu__088f7 .item__183e8[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"], :active),
.theme-light .menu__088f7 .item__183e8[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"]) [class^="caret-"] {
    color: var(--text-normal);
}

.menu__088f7 .item__183e8 [class^="caret-"] {
    width: 18px;
    color: var(--interactive-hover);
}

.menu__088f7 .item__183e8[class*="colorDefault-"]:not([class*="colorDanger-"])[class*="focused-"] [class^="caret-"] {
    color: #fff;
}

.menu__088f7 .item__183e8 {
    border-radius: 5px;
}

.menu__088f7 .item__183e8[class*="colorDefault-"]:not([class*="colorDanger-"])[class*="focused-"] {
    background-color: var(--brand-experiment);
    color: #fff;
}

.menu__088f7 .item__183e8 [class*="hintContainer-"] {
    display: none;
}

.menu__088f7 .button_bfb8e1 {
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu__088f7 .button_bfb8e1:hover,
.keyboard-mode .button_bfb8e1.focused__53c23 {
    border: var(--background-primary-border);
    background-color: var(--background-modifier-hover);
}
