/* 14.1. Contextmenu */
.menu-2TXYjN {
    position: relative;
    background-color: var(--background-floating-80a);
    border-radius: 8px;
    border: var(--background-floating-border);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

[class*="didRender"]>.menu-2TXYjN {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.menu-2TXYjN::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border-radius: 8px;
}

.theme-dark .menu-2TXYjN .item-5ApiZt[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"]),
.theme-dark .menu-2TXYjN .item-5ApiZt[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"]) [class^="caret-"] {
    color: var(--interactive-hover);
}

.theme-light .menu-2TXYjN .item-5ApiZt[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"], :active),
.theme-light .menu-2TXYjN .item-5ApiZt[class*="colorDefault-"]:not([class*="focused-"], [class*="colorDanger-"]) [class^="caret-"] {
    color: var(--text-normal);
}

.menu-2TXYjN .item-5ApiZt [class^="caret-"] {
    width: 18px;
    color: var(--interactive-hover);
}

.menu-2TXYjN .item-5ApiZt[class*="colorDefault-"]:not([class*="colorDanger-"])[class*="focused-"] [class^="caret-"] {
    color: #fff;
}

.menu-2TXYjN .item-5ApiZt {
    border-radius: 5px;
}

.menu-2TXYjN .item-5ApiZt[class*="colorDefault-"]:not([class*="colorDanger-"])[class*="focused-"] {
    background-color: var(--brand-experiment);
    color: #fff;
}

.menu-2TXYjN .item-5ApiZt [class*="hintContainer-"] {
    display: none;
}

.menu-2TXYjN .button-1zW0-r {
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu-2TXYjN .button-1zW0-r:hover,
.keyboard-mode .button-1zW0-r.focused-H4w81f {
    border: var(--background-primary-border);
    background-color: var(--background-modifier-hover);
}