#emoji-picker-tab-panel[role="dialog"] .emojiPicker_c6ee36 {
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

#gif-picker-tab-panel.container_b56bbc {
    background-color: transparent;
}

.drawerSizingWrapper_af5dbb>.contentWrapper_af5dbb {
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    padding-top: 8px;
}

#emoji-picker-tab-panel .searchBar_c6ee36,
#gif-picker-tab-panel .searchBar_b56bbc,
#sticker-picker-tab-panel .searchBar_c6ee36 {
    border-radius: 6px;
    background-color: var(--background-modifier-hover);
}

#sticker-picker-tab-panel .header_d8cdac .container_effbe2 {
    background-color: transparent;
}

#emoji-picker-tab-panel .searchBar_c6ee36:focus-within,
#gif-picker-tab-panel .searchBar_b56bbc:focus-within,
#sticker-picker-tab-panel .searchBar_c6ee36-:focus-within {
    box-shadow: var(--box-shadow-selection-50a);
}

#emoji-picker-tab-panel .header_c6ee36,
#gif-picker-tab-panel .header_b56bbc,
#sticker-picker-tab-panel .header_d8cdac {
    box-shadow: none;
    border-bottom: var(--background-modifier-accent-border);
    padding-top: 8px;
    padding-bottom: 8px;
}

#emoji-picker-tab-panel .medium_effbe2 .input_effbe2,
#emoji-picker-tab-panel .medium_effbe2 .tag_effbe2,
#gif-picker-tab-panel .medium__5b9a9 .input__48d49,
#gif-picker-tab-panel .medium__5b9a9 .tag__3ba94,
#sticker-picker-tab-panel .medium_effbe2 .input_effbe2,
#sticker-picker-tab-panel .medium_effbe2 .tag_effbe2 {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 0 8px;
}

#emoji-picker-tab-panel .medium_effbe2.iconLayout_effbe2,
#gif-picker-tab-panel .medium__5b9a9.iconLayout__67261,
#sticker-picker-tab-panel .medium_effbe2.iconLayout_effbe2 {
    width: 24px;
    height: 24px;
}

#emoji-picker-tab-panel .inner_effbe2,
#gif-picker-tab-panel .inner__999f6,
#sticker-picker-tab-panel .inner_effbe2 {
    display: flex;
    align-items: center;
    padding-right: 4px;
}

#emoji-picker-tab-panel .wrapper_e06857.header_a3bc57,
#sticker-picker-tab-panel .wrapper_e06857.packHeader_de4721 {
    position: relative;
    background-color: transparent;
}


.emojiItem_fbfedd.emojiItemSelected_fbfedd {
    background-color: var(--brand-experiment);
}

.wrapper_dc0b29 {
    background-color: transparent;
}

.unicodeShortcut_dfa278 {
    background-color: var(--background-floating);
    border-radius: 6px;
    margin: 8px;
    height: 32px;
    width: 32px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

.unicodeShortcut_dfa278:hover {
    background-color: var(--brand-experiment);
}

.categoryItemDefaultCategory_dfa278 {
    border-radius: 6px;
}

.categoryItemDefaultCategorySelected_dfa278,
.categoryItemDefaultCategorySelected_dfa278:hover {
    background-color: var(--brand-experiment);
}

#app-mount .categoryItemDefaultCategorySelected_dfa278 .categoryIcon_dfa278,
#app-mount .categoryItemDefaultCategorySelected_dfa278:hover .categoryIcon_dfa278 {
    color: #fff;
}

.unicodeShortcut_dfa278:hover {
    color: #fff;
}

.inspector_c3120f {
    width: fit-content;
    max-width: calc(100% - 64px);
    padding: 0 16px;
    background-color: var(--background-floating);
    overflow: hidden;
    border: var(--background-primary-border);
    border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: absolute;
    left: 48px;
    bottom: 0;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

#sticker-picker-tab-panel .listWrapper_d8cdac {
    overflow: visible;
}

#sticker-picker-tab-panel .inspector_c3120f,
#emoji-picker-tab-panel[role="dialog"] .inspector_c3120f {
    left: 0;
}

.inspector_c3120f .titleSecondary_c3120f {
    display: none;
}

.inspector_c3120f .graphicSecondary_c3120f {
    display: none;
}

.navButton_af5dbb {
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid transparent;
}

.navButtonActive_af5dbb {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    color: var(--interactive-active);
}

.navButtonActive_af5dbb:hover {
    color: var(--interactive-active);
}

.diversitySelectorOptions_cce80d {
    background-color: var(--background-floating);
    border-radius: 6px;
    border: var(--background-primary-border);
    overflow: hidden;
}

.diversityEmojiItem_cce80d:hover {
    background-color: var(--brand-experiment);
}
