.popoutContainer_cf58b5 {
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.didRender_f88ae3 .popoutContainer_cf58b5 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.popoutContainer_cf58b5 .guildSection_e58351 {
    background-color: transparent;
}

.popoutContainer_cf58b5 .assetWrapper_cb3343,
.popoutContainer_cf58b5 .primaryEmoji_e58351,
.popoutContainer_cf58b5 .guildSection_e58351 svg {
    margin-right: 8px;
}
