.popoutContainer-2wbmiM {
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.didRender-2SiRlm .popoutContainer-2wbmiM {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.popoutContainer-2wbmiM .guildSection-2Zyzy8 {
    background-color: transparent;
}

.popoutContainer-2wbmiM .assetWrapper-2hzITV,
.popoutContainer-2wbmiM .primaryEmoji-2Og_xG,
.popoutContainer-2wbmiM .guildSection-2Zyzy8 svg {
    margin-right: 8px;
}