.popoutContainer__66068 {
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.didRender__7e24c .popoutContainer__66068 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.popoutContainer__66068 .guildSection__15ac6 {
    background-color: transparent;
}

.popoutContainer__66068 .assetWrapper__671e3,
.popoutContainer__66068 .primaryEmoji_cb1dd8,
.popoutContainer__66068 .guildSection__15ac6 svg {
    margin-right: 8px;
}
