#emoji-picker-tab-panel[role="dialog"] .emojiPicker__5e2e2 {
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

#gif-picker-tab-panel.container__1e477 {
    background-color: transparent;
}

.drawerSizingWrapper_e20f1f>.contentWrapper_e0bb2c {
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    padding-top: 8px;
}

#emoji-picker-tab-panel .searchBar__57f39,
#gif-picker-tab-panel .searchBar_ca009d,
#sticker-picker-tab-panel .searchBar__57f39 {
    border-radius: 6px;
    background-color: var(--background-modifier-hover);
}

#sticker-picker-tab-panel .header__643ce .container_ec5ce2 {
    background-color: transparent;
}

#emoji-picker-tab-panel .searchBar__57f39:focus-within,
#gif-picker-tab-panel .searchBar_ca009d:focus-within,
#sticker-picker-tab-panel .searchBar__57f39-:focus-within {
    box-shadow: var(--box-shadow-selection-50a);
}

#emoji-picker-tab-panel .header_e5d8b2,
#gif-picker-tab-panel .header_aac16f,
#sticker-picker-tab-panel .header__643ce {
    box-shadow: none;
    border-bottom: var(--background-modifier-accent-border);
    padding-top: 8px;
    padding-bottom: 8px;
}

#emoji-picker-tab-panel .medium_c22914 .input__745d4,
#emoji-picker-tab-panel .medium_c22914 .tag__69d9d,
#gif-picker-tab-panel .medium__5b9a9 .input__48d49,
#gif-picker-tab-panel .medium__5b9a9 .tag__3ba94,
#sticker-picker-tab-panel .medium_c22914 .input__745d4,
#sticker-picker-tab-panel .medium_c22914 .tag__69d9d {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    padding: 0 8px;
}

#emoji-picker-tab-panel .medium_c22914.iconLayout__9d9a4,
#gif-picker-tab-panel .medium__5b9a9.iconLayout__67261,
#sticker-picker-tab-panel .medium_c22914.iconLayout__9d9a4 {
    width: 24px;
    height: 24px;
}

#emoji-picker-tab-panel .inner__178b2,
#gif-picker-tab-panel .inner__999f6,
#sticker-picker-tab-panel .inner__178b2 {
    display: flex;
    align-items: center;
    padding-right: 4px;
}

#emoji-picker-tab-panel .wrapper__91b2c.header__3028e,
#sticker-picker-tab-panel .wrapper__91b2c.packHeader__8c477 {
    position: relative;
    background-color: transparent;
}


.emojiItem_de65fd.emojiItemSelected__023be {
    background-color: var(--brand-experiment);
}

.wrapper__85934 {
    background-color: transparent;
}

.unicodeShortcut__01a83 {
    background-color: var(--background-floating);
    border-radius: 6px;
    margin: 8px;
    height: 32px;
    width: 32px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}

.unicodeShortcut__01a83:hover {
    background-color: var(--brand-experiment);
}

.categoryItemDefaultCategory__6c3db {
    border-radius: 6px;
}

.categoryItemDefaultCategorySelected__7d6e0,
.categoryItemDefaultCategorySelected__7d6e0:hover {
    background-color: var(--brand-experiment);
}

#app-mount .categoryItemDefaultCategorySelected__7d6e0 .categoryIcon_d0a396,
#app-mount .categoryItemDefaultCategorySelected__7d6e0:hover .categoryIcon_d0a396 {
    color: #fff;
}

.unicodeShortcut__01a83:hover {
    color: #fff;
}

.inspector__80c84 {
    width: fit-content;
    max-width: calc(100% - 64px);
    padding: 0 16px;
    background-color: var(--background-floating);
    overflow: hidden;
    border: var(--background-primary-border);
    border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: absolute;
    left: 48px;
    bottom: 0;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

#sticker-picker-tab-panel .listWrapper__588b8 {
    overflow: visible;
}

#sticker-picker-tab-panel .inspector__80c84,
#emoji-picker-tab-panel[role="dialog"] .inspector__80c84 {
    left: 0;
}

.inspector__80c84 .titleSecondary_ebfe3c {
    display: none;
}

.inspector__80c84 .graphicSecondary__40864 {
    display: none;
}

.navButton_b588d0 {
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid transparent;
}

.navButtonActive__0c878 {
    background-color: var(--background-primary);
    border: var(--background-primary-border);
    color: var(--interactive-active);
}

.navButtonActive__0c878:hover {
    color: var(--interactive-active);
}

.diversitySelectorOptions_daea2d {
    background-color: var(--background-floating);
    border-radius: 6px;
    border: var(--background-primary-border);
    overflow: hidden;
}

.diversityEmojiItem__48e39:hover {
    background-color: var(--brand-experiment);
}
