.recentMentionsPopout__40c54 {
    max-height: 78vh !important;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    border-radius: 8px;
}

.header__21b33 {
    position: relative;
    z-index: 11;
    background-color: var(--background-accent);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.header__58a85 {
    height: 52px;
    min-height: 52px;
}

.controls_fa77da {
    display: flex;
    align-items: center;
}

.messagesPopout__28784 {
    padding: 16px;
}

.recentMentionsPopout__40c54 .container__7c2c1 {
    margin: 0;
    margin-bottom: 16px;
    padding-right: unset;
}

.messagesPopoutWrap__10dd1 .topPill__63ad4 {
    border: var(--background-primary-border);
    background: var(--background-primary);
}

.messageGroupWrapper__1fce2 {
    position: relative;
    background: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0 16px;
    overflow: hidden;
}

.recentMentionsPopout__40c54 .container__7c2c1,
.recentMentionsPopout__40c54 .channel__36a7e {
    border: var(--background-secondary-border);
}

#app-mount .recentMentionsPopout__40c54 .container__7c2c1,
#app-mount .recentMentionsPopout__40c54 .channel__36a7e,
#app-mount .recentMentionsPopout__40c54 .channelHeader_ea0f89 {
    background-color: var(--background-secondary);
}

.recentMentionsPopout__40c54 .channelHeader_ea0f89 {
    border-bottom: var(--background-secondary-border);
}

.recentMentionsPopout__40c54 .header__58a85 .tab_a8a066 {
    height: unset;
}
