.recentMentionsPopout__826a9 {
    max-height: 78vh !important;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    border-radius: 8px;
}

.header_f5cc88 {
    position: relative;
    z-index: 11;
    background-color: var(--background-accent);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.header__28ebb {
    height: 52px;
    min-height: 52px;
}

.controls__2aaac {
    display: flex;
    align-items: center;
}

.messagesPopout__22763 {
    padding: 16px;
}

.recentMentionsPopout__826a9 .container__56e52 {
    margin: 0;
    margin-bottom: 16px;
    padding-right: unset;
}

.messagesPopoutWrap_b3b384 .topPill__0cdf1 {
    border: var(--background-primary-border);
    background: var(--background-primary);
}

.messageGroupWrapper_f8c6e9 {
    position: relative;
    background: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0 16px;
    overflow: hidden;
}

.recentMentionsPopout__826a9 .container__56e52,
.recentMentionsPopout__826a9 .channel_d48f2d {
    border: var(--background-secondary-border);
}

#app-mount .recentMentionsPopout__826a9 .container__56e52,
#app-mount .recentMentionsPopout__826a9 .channel_d48f2d,
#app-mount .recentMentionsPopout__826a9 .channelHeader__5d30c {
    background-color: var(--background-secondary);
}

.recentMentionsPopout__826a9 .channelHeader__5d30c {
    border-bottom: var(--background-secondary-border);
}

.recentMentionsPopout__826a9 .header__28ebb .tab_a8a066 {
    height: unset;
}