.recentMentionsPopout-2bI1ZN {
    max-height: 78vh !important;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    border-radius: 8px;
}

.header-1w9Q93 {
    position: relative;
    z-index: 11;
    background-color: var(--background-accent);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.header-145e10 {
    height: 52px;
    min-height: 52px;
}

.controls-1rku3l {
    display: flex;
    align-items: center;
}

.messagesPopout-eVzQcI {
    padding: 16px;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz {
    margin: 0;
    margin-bottom: 16px;
    padding-right: unset;
}

.messagesPopoutWrap-3zryHW .topPill-2vcLsa {
    border: var(--background-primary-border);
    background: var(--background-primary);
}

.messageGroupWrapper-1jf_7C {
    position: relative;
    background: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0 16px;
    overflow: hidden;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz,
.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    border: var(--background-secondary-border);
}

#app-mount .recentMentionsPopout-2bI1ZN .container-iA3Qrz,
#app-mount .recentMentionsPopout-2bI1ZN .channel-3NJZ1V,
#app-mount .recentMentionsPopout-2bI1ZN .channelHeader-DFRX8q {
    background-color: var(--background-secondary);
}

.recentMentionsPopout-2bI1ZN .channelHeader-DFRX8q {
    border-bottom: var(--background-secondary-border);
}

.recentMentionsPopout-2bI1ZN .header-145e10 .tab-TRrPC8 {
    height: unset;
}