#app-mount .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: var(--button-selected-background);
}

.root-1CAIjD.small-2xUY-3.fullscreenOnMobile-2971EC .content-1OG56Q .message-G6O-Wv {
    background-color: var(--background-primary);
    border-radius: 6px;
    border: var(--background-primary-border);
}

.messagesPopoutWrap-3zryHW {
    max-height: 78vh !important;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    border-radius: 8px;
}