#app-mount .header__58a85 .tabBar__2aa8e .tab_a8a066.active__7e7af {
    background-color: var(--button-selected-background);
}

.root_a28985.small_f8e677.fullscreenOnMobile__05784 .content_b28aab .message_ff43e6 {
    background-color: var(--background-primary);
    border-radius: 6px;
    border: var(--background-primary-border);
}

.messagesPopoutWrap__10dd1 {
    max-height: 78vh !important;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    border-radius: 8px;
}
