#app-mount .header_f0cd33 .tabBar_f0cd33 .tab_f0cd33.active_f0cd33 {
    background-color: var(--button-selected-background);
}

.root_f9a4c9.small_f9a4c9.fullscreenOnMobile_f9a4c9 .content_f9a4c9 .message_ddcc45 {
    background-color: var(--background-primary);
    border-radius: 6px;
    border: var(--background-primary-border);
}

.messagesPopoutWrap_ac90a2 {
    max-height: 78vh !important;
    background-color: var(--background-tertiary);
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    border-radius: 8px;
}
