.container-1ILvLB {
    border-radius: 8px;
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.translate-PeW1wK>.container-1ILvLB {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.noiseCancellationPopout-2-e5Xz {
    border-radius: 8px;
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}