.container__13b2a {
    border-radius: 8px;
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.translate_f88ae3>.container__13b2a {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.noiseCancellationPopout_adcaac {
    border-radius: 8px;
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}
