.container__0810b {
    border-radius: 8px;
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
}

.translate-PeW1wK>.container__0810b {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.noiseCancellationPopout__06ec4 {
    border-radius: 8px;
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}