#app-mount .elevationBorderHigh_f9a758 {
    border: var(--background-floating-border);
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

.container_d6dad3 {
    border-radius: 8px;
}

.option_b5597b:after {
    display: none;
}

.option_b5597b:hover {
    background-color: var(--brand-experiment);
    --search-popout-option-non-text-color: #fff;
}

.option_b5597b[aria-selected=true] {
    background-color: var(--brand-experiment);
    --search-popout-option-non-text-color: #fff;
}

.option_b5597b {
    border-radius: 6px;
}

.option_b5597b:hover .plusIcon__36244,
.option_b5597b[aria-selected=true] .plusIcon__36244 {
    color: #fff;
    display: block;
}

.option_b5597b.user__97b4c:hover .displayedNick_df9a16,
.option_b5597b.user__97b4c[aria-selected=true] .displayedNick_df9a16 {
    color: #fff;
}

.option_b5597b.user__97b4c:hover .displayUsername_aea59a,
.option_b5597b.user__97b4c[aria-selected=true] .displayUsername_aea59a {
    color: #dcddde;
}

#app-mount .option_b5597b:hover :where(.answer__9ff92, .filter_bd5fe7, strong),
#app-mount .option_b5597b[aria-selected=true] :where(.answer__9ff92, .filter_bd5fe7, strong) {
    color: #fff;
}


#app-mount .option_b5597b:hover .searchResultChannelCategory__7ebb5,
#app-mount .option_b5597b:hover .searchResultChannelIcon__95142,
#app-mount .option_b5597b[aria-selected=true] .searchResultChannelCategory__7ebb5,
#app-mount .option_b5597b[aria-selected=true] .searchResultChannelIcon__95142 {
    color: #fff;
}

#app-mount .queryContainer_c359fe.focused_f9cf2c {
    background-color: transparent;
}

.resultsGroup_ea9b64 .header_b24bd1 {
    font-weight: 600;
    text-transform: capitalize;
}

.resultsGroup_ea9b64 .searchClearHistory_cd1df2:hover {
    color: var(--status-danger);
}

#app-mount .calendarPicker__5c474 .react-datepicker {
    background-color: transparent;
}

.calendarPicker__5c474 .react-datepicker__month {
    border: var(--background-modifier-accent-border);
    border-radius: 6px;
}

#app-mount .calendarPicker__5c474 .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

#app-mount .calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--next,
#app-mount .calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--previous {
    border: var(--background-modifier-accent-border);
}

#app-mount .calendarPicker__5c474 .react-datepicker__day--disabled,
#app-mount .calendarPicker__5c474 .react-datepicker__day--outside-month,
#app-mount .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled,
#app-mount .calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: transparent;
    color: var(--text-muted);
}

#app-mount .calendarPicker__5c474 .react-datepicker__current-month {
    border-bottom: none;
    font-size: 14px;
}

#app-mount .calendarPicker__5c474 .react-datepicker__day {
    border: none;
}

.calendarPicker__5c474 .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker__5c474 .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker__5c474 .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker__5c474 .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
    border-radius: 6px;
}

.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker__5c474 .react-datepicker__day:hover {
    border-radius: 6px;
}

.react-datepicker__day.react-datepicker__day--selected:hover::after {
    display: none;
}

.searchResultChannelCategory__7ebb5,
.searchResultChannelIcon__95142 {
    color: var(--text-muted);
    opacity: .6;
}

.option_b5597b .answer__9ff92,
.option_b5597b .filter_bd5fe7,
.option_b5597b strong {
    color: var(--text-muted);
}