#app-mount .elevationBorderHigh_ff8688 {
    border: var(--background-floating-border);
    background-color: var(--background-floating-80a);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

.container_eedf95 {
    border-radius: 8px;
}

.option_b0286e:after {
    display: none;
}

.option_b0286e:hover {
    background-color: var(--brand-experiment);
    --search-popout-option-non-text-color: #fff;
}

.option_b0286e[aria-selected=true] {
    background-color: var(--brand-experiment);
    --search-popout-option-non-text-color: #fff;
}

.option_b0286e {
    border-radius: 6px;
}

.option_b0286e:hover .plusIcon_b0286e,
.option_b0286e[aria-selected=true] .plusIcon_b0286e {
    color: #fff;
    display: block;
}

.option_b0286e.user_b0286e:hover .displayedNick_b0286e,
.option_b0286e.user_b0286e[aria-selected=true] .displayedNick_b0286e {
    color: #fff;
}

.option_b0286e.user_b0286e:hover .displayUsername_b0286e,
.option_b0286e.user_b0286e[aria-selected=true] .displayUsername_b0286e {
    color: #dcddde;
}

#app-mount .option_b0286e:hover :where(.answer_b0286e, .filter_b0286e, strong),
#app-mount .option_b0286e[aria-selected=true] :where(.answer_b0286e, .filter_b0286e, strong) {
    color: #fff;
}


#app-mount .option_b0286e:hover .searchResultChannelCategory_b0286e,
#app-mount .option_b0286e:hover .searchResultChannelIcon_b0286e,
#app-mount .option_b0286e[aria-selected=true] .searchResultChannelCategory_b0286e,
#app-mount .option_b0286e[aria-selected=true] .searchResultChannelIcon_b0286e {
    color: #fff;
}

#app-mount .queryContainer_eedf95.focused_eedf95 {
    background-color: transparent;
}

.resultsGroup_b0286e .header_b0286e {
    font-weight: 600;
    text-transform: capitalize;
}

.resultsGroup_b0286e .searchClearHistory_b0286e:hover {
    color: var(--status-danger);
}

#app-mount .calendarPicker__47c85 .react-datepicker {
    background-color: transparent;
}

.calendarPicker__47c85 .react-datepicker__month {
    border: var(--background-modifier-accent-border);
    border-radius: 6px;
}

#app-mount .calendarPicker__47c85 .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

#app-mount .calendarPicker__47c85 .react-datepicker__navigation.react-datepicker__navigation--next,
#app-mount .calendarPicker__47c85 .react-datepicker__navigation.react-datepicker__navigation--previous {
    border: var(--background-modifier-accent-border);
}

#app-mount .calendarPicker__47c85 .react-datepicker__day--disabled,
#app-mount .calendarPicker__47c85 .react-datepicker__day--outside-month,
#app-mount .calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--disabled,
#app-mount .calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: transparent;
    color: var(--text-muted);
}

#app-mount .calendarPicker__47c85 .react-datepicker__current-month {
    border-bottom: none;
    font-size: 14px;
}

#app-mount .calendarPicker__47c85 .react-datepicker__day {
    border: none;
}

.calendarPicker__47c85 .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker__47c85 .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker__47c85 .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker__47c85 .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
    border-radius: 6px;
}

.calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker__47c85 .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker__47c85 .react-datepicker__day:hover {
    border-radius: 6px;
}

.react-datepicker__day.react-datepicker__day--selected:hover::after {
    display: none;
}

.searchResultChannelCategory_b0286e,
.searchResultChannelIcon_b0286e {
    color: var(--text-muted);
    opacity: .6;
}

.option_b0286e .answer_b0286e,
.option_b0286e .filter_b0286e,
.option_b0286e strong {
    color: var(--text-muted);
}
