.browser_fa9cea.container_f93da8 {
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    background-color: var(--background-tertiary);
}

.browser_fa9cea.container_f93da8 .header__6d44a {
    background-color: var(--background-accent);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    height: 52px;
}

.browser_fa9cea.container_f93da8 .sectionHeader__0f7c3 {
    font-family: var(--font-display);
    font-weight: 500;
    text-transform: capitalize;
}

.browser_fa9cea.container_f93da8 .header__6d44a .searchBox__9423b.container__33507 {
    background-color: transparent;
    box-shadow: var(--background-primary-box-shadow-border);
}

.browser_fa9cea.container_f93da8 .header__6d44a .searchBox__9423b:focus-within {
    box-shadow: var(--box-shadow-selection-50a);
}

.container__9922f {
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    height: 72px;
    margin-bottom: 8px;
    padding: 15px;
}

.browser_fa9cea.container_f93da8 .container__9922f .heading-md-medium-2DVCeJ,
.browser_fa9cea.container_f93da8 .container__9922f .heading-md-normal-3Ytn6I {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
