.browser-mnQ1T7.container-18GwIk {
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    border: var(--background-tertiary-border);
    background-color: var(--background-tertiary);
}

.browser-mnQ1T7.container-18GwIk .header-3_zmOb {
    background-color: var(--background-accent);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    height: 52px;
}

.browser-mnQ1T7.container-18GwIk .sectionHeader-QsOv68 {
    font-family: var(--font-display);
    font-weight: 500;
    text-transform: capitalize;
}

.browser-mnQ1T7.container-18GwIk .header-3_zmOb .searchBox-3IjAC1.container-2oNtJn {
    background-color: transparent;
    box-shadow: var(--background-primary-box-shadow-border);
}

.browser-mnQ1T7.container-18GwIk .header-3_zmOb .searchBox-3IjAC1:focus-within {
    box-shadow: var(--box-shadow-selection-50a);
}

.container-2rzKKA {
    background-color: var(--background-secondary);
    border: var(--background-secondary-border);
    border-radius: 8px;
    height: 72px;
    margin-bottom: 8px;
    padding: 15px;
}

.browser-mnQ1T7.container-18GwIk .container-2rzKKA .heading-md-medium-2DVCeJ,
.browser-mnQ1T7.container-18GwIk .container-2rzKKA .heading-md-normal-3Ytn6I {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}