#app-mount .streamPreview__965fa {
    border-radius: 8px;
    background-color: var(--background-floating);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

/* 14.13. Streaminfo */
.container__56cd1 {
    border-radius: 8px;
    background-color: var(--background-floating);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.popout__24e32 {
    border-radius: 8px;
    background-color: var(--background-floating);
    backdrop-filter: blur(var(--background-floating-blur-calc));
    border: var(--background-floating-border);
    animation: floatingtranstion 0.5s 0.2s forwards;
}

.didRender__7e24c .popout__24e32 {
    background-color: var(--background-floating);
    animation: floatingtranstion 0.5s 0.2s forwards;
}
